


{% extends "skeleton.html" %}

{% block title %}About Us{% endblock %}
{% block content%}
<img src="../site_media/scott.png" width=255>
<img src="../site_media/adam.png" width=255>
<br>
<p>Workout-Generator.net was created by myself, <a href="mailto:scott@workoutgenerator.net">Scott Lobdell</a>, and Adam Burke.  We are both West Point graduates who started this project with filling what we believed to be an unfilled niche.  Workout generators at the time sucked.  And they still suck.  Except ours.  It was my goal to create a successful web application because I had the know-how and the desire to be able to do it, and Adam had great success as a personal trainer and a javelin thrower.  With Adam's experience as a personal trainer, we believed that we could automate the process of generating workouts for people, and the results of our goals can be seen here and now.</p>

<p>
Adam is a New Jersey native who attended the United States Military Academy at West Point, where he earned a B.S. in Psychology and twice All-American honors in the Javelin throw.  As an athlete and a leader in the US Army, Adam's fitness not only affected his Olympic dreams, but also the lives of him and his soldiers while serving in Afghanistan.  As a result, he has aggressively sought education in fitness and incorporated that knowledge not only into his own training, but into the programs for his soldiers, family, friends, and clients as well.  Adam's Olympic dreams have brought him to North Carolina where he is currently training for the 2012 Olympic Games that will be held in London, England.  Adam is also the founder of <a href="http://www.crossfitcarrboro.com/CrossFit_Carrboro/Welcome.html">Crossfit Carrboro</a> 
</p>
<p>
I (Scott) was born and raised in Houston, Texas and I'm also a graduate of the United States Military academy at West Point where I earned a B.S. in Computer Science with Honors.  I was also a member of the Army track team, but did not achieve such great accolades as Adam.  Rather - I was a manager, and a proud one at that.  If you ever go to a West Point track meet and see some ridiculous animations on the scoreboard, yeah, that was my lasting mark on the team.  Like Adam, I also strove to impact soldiers' physical fitness in Afghanistan albeit in a different manner.  We managed to foster a habitual gym following every morning where we'd get arbitrarily pumped up and snort NO X-plode before working out in a small tent.  I'm no NASM certified personal trainer.  I'm just a self-proclaimed gym rat who's also a passionate nerd when it comes to software engineering.  I've also founded a <a href="http://yourworkoutlog.com">workout log</a> website in conjunction with this application.
</p>

{% endblock %}

