{% extends "skeleton.html" %}
{% block title %} - Add Cardio{% endblock %}



{% block content %}

<script type="text/javascript">
function test(inElement)
{
myInner="<table>";

if(inElement.value=='0')
{
myInner=myInner+"<tr><td>Sets:</td><td><input type='text' name='sets' size='3'></td></tr>";
myInner=myInner+"<tr><td>Rest:</td><td><input type='text' name='rest' size='3'></td></tr>";
myInner=myInner+"<tr><td>Distance:</td><td><input type='text' name='distance' size='3'></td></tr>";


}
else
{
myInner=myInner+"<tr><td>Time:</td><td><input type='text' name='time' size='3'></td></tr>";
myInner=myInner+"<tr><td>Heart Rate:</td><td><input type='text' name='heartrate' size='3'></td></tr>";

}
myInner=myInner+"<tr><td>Description:</td><td><textarea name='description' rows='7' cols='35'></textarea></td></tr>"
myInner=myInner+"<tr><td></td><td><input type='submit' value='Add Cardio'></td></tr>"


myInner=myInner+"</table>"
document.getElementById('toFill').innerHTML=myInner;
}
</script>


<h2>Add Cardio</h2>
<form action="." method="POST">
<table>
<tr><td>Cardio name</td><td><input name="name" type="text"></td></tr>

<tr><td>Equipment</td><td>
<select name="equipment">
{% for iterator in allEquipment %}
<option value="{{iterator.id}}">{{iterator.name}}</option>
{% endfor %}
</select>

<tr><td>Minimum Fitness Level:</td><td>
<select name="fitness">
{% for iterator in allFitness %}
<option value="{{iterator.id}}">{{iterator.name}}</option>
{% endfor %}
</select>
<tr><td>Estimated completion time</td><td><input type="text" size="3" name="totalTime" ></td></tr>




<tr><td><input type="radio" name="timeOrDistance" value="1" onClick="test(this)">Timed</td><td><input type="radio" name="timeOrDistance" value="0" onClick="test(this)">Distance</td></tr>



</table>

<div id="toFill">

</div>


</form>


{% endblock %}


