{% extends "skeleton.html" %}
{% block title %} - Add Goal{% endblock %}



{% block content %}
<h2>Add Goal</h2>


<script type="text/javascript">
function makeVisible(intVal)
{
  if(document.getElementById('input'+intVal).style.visibility=='hidden')
  {
    document.getElementById('input'+intVal).style.visibility='visible';
  }
  else
  {
    document.getElementById('input'+intVal).style.visibility='hidden';
  }
}
</script>



<form action="." method="POST">
<table>
<tr><td>Goal name</td><td><input name="name" type="text"></td><td>Weeks in Phase</td></tr>
<tr><td>Phases</td><td></td></tr>
{% for iterator in allPhases %}
<tr><td></td><td><input type="checkbox" name="{{iterator.id}}" id="{{iterator.id}}" value="1" onClick='makeVisible({{iterator.id}})'>{{iterator.name}}</td><td><p style="visibility: hidden;" id='input{{iterator.id}}'><input type='text' size='3' name='minLength{{iterator.id}}'>-<input type='text' size='3' name='maxLength{{iterator.id}}'></p></td></tr>
{% endfor %}
<tr><td>Cardio Type</td><td>
<select name='cardioType'>
{% for iterator in allCardioTypes %}
<option value='{{iterator.id}}'>{{iterator.name}}</option>
{% endfor %}
</select>
</td></tr>
<tr><td>Image name</td><td><input type='text' name='image'></td></tr>
<tr><td>Description</td><td><textarea name='description' rows='7' cols='35'></textarea></td></tr>
<tr><td></td><td><input type='Submit' value='Submit'></td></tr>

</table>

</form>




<script type="text/javascript">
{% for iterator in checkedEquipment %}
document.getElementById({{iterator.id}}).checked=true;
{% endfor %}
</script>

{% endblock %}


