{% extends "skeleton.html" %}
{% block title %} - Add Volume{% endblock %}



{% block content %}




<script type="text/javascript">
function inputChanged(inObject)
{

if (inObject.value==0)
{
var sub=inObject.name.substr(6);
  for(index in document.myForm.elements)
  {
    var junk=document.myForm[index].name.indexOf(sub);
    if(junk!=-1 && document.myForm[index].name.indexOf("exer")==-1)
    {
      document.myForm[index].disabled=true;
    }
  }
}
else
{
var sub=inObject.name.substr(6);
  for(index in document.myForm.elements)
  {
    var junk=document.myForm[index].name.indexOf(sub);
    if(junk!=-1 && document.myForm[index].name.indexOf("exer")==-1)
    {
      document.myForm[index].disabled=false;
    }
  }

}

}


</script>



<form action="." method="POST" name="myForm">
<table id="myTable1" width='800px'><tr><td>

<select name="phase">
{% for iterator in allPhases %}
<option value="{{iterator.id}}">{{iterator.name}}</option>
{% endfor %}
</select>
for clients who are

<select name="fitness">
{% for iterator in currentFitness %}
<option value="{{iterator.id}}">{{iterator.name}}</option>
{% endfor %}
</select>




</td></tr></table>

<table >
<tr><td>

<table  id="myTable2">
<tr><td></td><td>Exercises</td></tr>
{% for iterator in components %}
<tr class="{% cycle 'row1' 'row2' %}"><td>{{iterator.name}}</td>
<td><input name = "exer10{{iterator.name}}" type="text" size="3" value='0'">-<input name = "exer20{{iterator.name}}" type="text" size="3" value='0' onChange="inputChanged(this)"></td>
</tr>
{% endfor %}
</table>

</tr></tr>
<tr><td>

{% for outerIterator in allVolumeTables %}
<table id="myTable3">
<tr><td>Week {{outerIterator.week}}</td><td>Reps</td><td>Sets</td></tr>
{% for iterator in components %}
<tr class="{% cycle 'row1' 'row2' %}"><td>{{iterator.name}}</td><td><input name="reps1{{outerIterator.week}}{{iterator.name}}" type="text" size="3" value='0'>-<input
name = "reps2{{outerIterator.week}}{{iterator.name}}" type="text" size="3" value='0'></td>
<td><input name = "sets1{{outerIterator.week}}{{iterator.name}}" type="text" size="3" value='0'>-<input name = "sets2{{outerIterator.week}}{{iterator.name}}" type="text" size="3" value='0'></td>

</tr>
{% endfor %}
</table>

<table>
<tr class='row1'><td>Week {{outerIterator.week}}</td><td>Times/Week</td></tr>
<tr class='row2'><td>Timed Cardio per week</td><td><input type="text" size="3" value='0'>-<input type="text" size="3" value='0'></td></tr>
<tr class='row1'><td>Distance Cardio per week</td><td><input type="text" size="3" value='0'>-<input type="text" size="3" value='0'></td></tr>
</table>

</td></tr><tr><td>
{% endfor %}

<script type="text/javascript">
rules=document.styleSheets[0].cssRules;
rules[rules.length-1].float


</script>


</form>


</td></tr>
<tr><td><input type="submit" value="Add Volume">
</td></tr>
</table>

{% endblock %}


