


{% extends "skeleton.html" %}
{% block content%}
THIS IS A TEST
        <span class="bodyText">
<div style="display: block; width: 110px; float: right; margin-right: 200px;">
<a href='http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=441421826&mt=8&ign-mpt=uo%3D6'><img src="../site_media/ad4.jpg" width=300 style="border-radius: 20px;"></a><br><br></div>
<div style="display: inline;">

<span class="bodyText"><br>
<ul><h1 class="bodyText5">See what others are saying about Oracle Fitness for iPhone!</h1>
<li><a href='http://www.freshapps.com/iphone-app-review-oracle-fitness/'>Fresh Apps Review</a></li>
<li><a href='http://www.youtube.com/watch?v=aqNtWKaV7-s'>Daily App Show Video Demonstration</a></li>
</ul>

<span class="bodyText"><br />
<ul><h1 class="bodyText5">A Truly Awesome Workout System</h1>
<li>Develops every aspect of your fitness.  You’ll get workouts for: stabilization, muscle endurance, hypertrophy, maximal strength, and power.</li>
<li>Periodized plans to keep your body guessing!  Never plateau!</li>
<li>Developed by a NASM certified personal trainer, a CrossFit certified trainer, and Army Master Fitness Trainer.</li>
</ul>
</div>
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;">

<table width="600" border="0" cellpadding="2" cellspacing="1" align="center">


              <tr>
                <td align="center"><object width="425" height="344">
		<iframe class='youtube-player' style='border-radius: 20px;' type='text/html' width='425' height='344' src='http://www.youtube.com/embed/gHhIIoQBuYU' frameborder='0'></iframe>


</td></tr>
</table>
            <br /></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table>



<br><br>
        </span><span class="bodyText2">Try OracleFitness Today!</span>



        <span class="bodyText">
<ul><h1 class="bodyText5">Never Get Bored</h1>
<li>Utilize everything from weights and rings to nothing but your bodyweight.  A virtually limitless number of unique workouts </li>
<li>Extensive exercise database of over 600 exercises, so you never get bored!</li>
<li>Video demonstrations of every exercise.</li>
</ul>
</span>

<span class="bodyText"><br />


<ul><h1 class="bodyText5">
This is NOT a cookie-cutter, one-size-fits-all workout program</h1>
<li>Workout programs are tailored to your goal, your fitness level, and your experience</li>
<li>Accounts for your access to equipment, so you can work out at home or at the gym.</li>
<li>Builds workouts based on your time!  Work out for 15 minutes, or two hours.</li>
</ul>


<ul><h1 class="bodyText5">Best Value on the Web!</h1>
</h1>
<li>FREE WEB USE</li>
<li>iPhone app $0.99</li>
</ul>






<br><br>

            <center><img alt="" src="../site_media/workoutprogram.png" width="372" height="51" style="margin:10px 0 10px 0 "/></center>
        <div class="categoryArea">
            <div class="category1"><a href="../mygoalsnew/"><img alt="" src="../site_media/muscle.png" width="161" height="130" border="0" /></a></div>
	    <div class="category1"><a href="../mygoalsnew/"><img alt="" src="../site_media/stamina.png" width="161" height="130" border="0" /></a></div>
            <div class="category1"><a href="../mygoalsnew/"><img alt="" src="../site_media/power.png" width="161" height="130" border="0" /></a></div>
            <div class="category1"><a href="../mygoalsnew/"><img alt="" src="../site_media/toning.png" width="161" height="130" border="0" /></a></div>
            <div class="category2"><a href="../mygoalsnew/"><img alt="" src="../site_media/optimalbody.png" width="161" height="130" border="0" /></a></div>
            <div class="category2"><a href="../mygoalsnew/"><img alt="" src="../site_media/strength.png" width="161" height="130" border="0" /></a></div>
            <div class="category2"><a href="../mygoalsnew/"><img alt="" src="../site_media/stayfit.png" width="161" height="130" border="0" /></a></div>
            <div class="category2"><a href="../mygoalsnew/"><img alt="" src="../site_media/general.png" width="161" height="130" border="0" /></a></div>
        </div>



{% endblock %}

