
<script type="text/javascript">
var oldValue;
var newValue;
function makeBlank(textInput)
{
  oldValue=textInput.value;
  textInput.value="";
}
function updateValue(textInput)
{
  if(textInput.value=="")
  {
    textInput.value=oldValue;
  }
}

{%if login %}

var counter=0;;
function updateTestimonial()
{
  timerID = self.setTimeout("updateTestimonial()", 10000)
  var test1='“OracleFitness is a surprisingly intelligent training program.  I recommend it to anyone looking to get started with weight training.”<br> <br><center><img alt="" src="../site_media/jason.png"  ><br><span class="testmonialName">Jason Smartt</span><br>Seattle, WA</center>'
  var test2='“The variety of workouts that OracleFitness generates helped me to achieve the goals I had set.”<br> <br><center><img alt="" src="../site_media/caleb.png" ><br><span class="testmonialName">Caleb Breedlove</span><br>Austin, TX</center>'
  var test3='“OracleFitness gives me a unique challenge that I can bring to the gym every day.”<br><br><br><center><img alt="" src="../site_media/ryan.png" ><br><span class="testmonialName">Ryan Keaton</span><br>Atlanta, GA</center>'
  var test4='“OracleFitness takes the guesswork out of my fitness plan.  I just log-in and do the workout it tells me to do.”<br><br><br><center><img alt="" src="../site_media/max.png" ><br><span class="testmonialName">Maxine Gourley</span><br>Washington DC</center>'


  var toUse=""
  if(counter %4==0)
  {
    toUse=test1;
  }
  else if (counter%4==1)
  {
    toUse=test2;
  }
  else if (counter%4==2)
  {
    toUse=test3;
  }
  else
  {
    toUse=test4;
  }
  document.getElementById("testimonialArea").innerHTML=toUse;
  counter=counter+1;
}


{% endif%}

</script>

﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="online personal trainer, online workouts, training program, weight loss, fitness, lose weight,  Trainer, Burn Fat, Build Muscle, Personal Fitness Plan, Get in Shape, Fitness Solution, Online Fitness, Online Personal Fitness Training, Fitness Plan, Personal Fitness Trainer, Fitness Goals,  Lose Fat, Basic Fitness Training, Online Fitness Plans, exercise, weight loss program, lose weight, fitness program, health and fitness, build muscle, diet plan"">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../site_media/qc_oraclefitness.css" rel="stylesheet" type="text/css" />
	<title>OracleFitness{% block title %}{% endblock %}</title>

<link rel="shortcut icon" type="image/x-icon" href="../site_media/favicon.ico" />
</head>

<body>
  <div class="bgArea">
	<div id="wapper">
    <div class="topmenuArea">

    	<div class="loginArea">
{% if login %}


<form action='../signin/' method="POST" style="display: inline;">
Username:<input type="text" name="username" class="form"/>
    	  <img alt="" src="images/specer.gif" width="10" height="1" />
Password:<input type="password" name="password"  class="form" />
          <input type="submit" value="login" class="login" /></form>



{% else %}
    	    <img alt="" src="../site_media/specer.gif" width="20" height="1" />OracleFitness<img alt="" src="../site_media/specer.gif" width="40" height="1" />

           <form action="../logout/" method="GET" style="display: inline;">
          <input type="submit" name="button" value="Logout" class="login" /></form>
          
{% endif %}

    	</div>





        <div class="topmenuList">
        <a href="../home/" class="{% if login %}mainlinkAboutus{%else%}mainlinkHome{% endif%}" title="Home">{% if login %}ABOUT US{%else%}HOME{% endif%}</a>

        <a href="../tour/" class="mainlinkTour" title="Take The Tour">TAKE THE TOUR</a>
        <a href="../contact/" class="mainlinkContact" title="Contact Us">CONTACT US</a>        
        </div>
    </div>
{% if login %}    <div class="bannerArea"><img alt="" src="../site_media/banner.png" width="981" height="394" /></div>    {% endif%}
    <div class="innerbodytop">
      <div align="center"><img alt="" src="../site_media/innerbodytop.png" width="959" height="19" /></div>
    </div>
    <div class="bodyArea">
    <div class="leftArea"><center>{% if login %}<a href="../mygoalsnew/"><img alt="" src="../site_media/free.gif" border="0" class="freemember" /></a>{%else%}<img alt="" src="../site_media/usercontrolpanner.png" border="0" class="freemember" />{% endif %}</center>
      
	  <div class="menuArea">
			Home<br />
			<ul class="leftMenu">

{% if login%}
	      <li><a href="../home">About the Site</a></li>
	      <li><a href="../tour">Take the Tour</a></li>
{% else %}
	      <li><a href="../home">My Homepage</a></li>
{% endif %}

          	</ul>

{% if superuser %}
	  Administrator<br />
<ul class="leftMenu">
	  <ul>
              <li><a href="../editfrequencies">Edit Component Frequencies</a></li>
              <li><a href="../editcomicalstatements">Edit Comical Statements</a></li>
              <li><a href="../editmusclefrequencies">Edit Muscle Frequencies</a></li>
              <li><a href="../editcardiomaxes">Edit Cardio Maxes</a></li>
              <li><a href="../editexercises">Edit Exercises</a></li>
              <li><a href="../editexhaustion">Edit Exhaustion</a></li>
              <li><a href="../editvolumes">Edit Volumes</a></li>
              <li><a href="../editarticles">Edit Articles</a></li>
              <li><a href="../editphases">Edit Phases</a></li>
              <li><a href="../editcardios">Edit Cardio</a></li>
              <li><a href="../editgoals">Edit Goals</a></li>
              <li><a href="../newadmin">Add Admin</a></li>
              <li><a href="../stats">Stats</a></li>
</ul>
{% endif%}




			
			My Program<br />
			<ul class="leftMenu">
              {% if login %}
	  	  <li><a href="../signin">Sign in</a></li>
<!---	  	  <li><a href="../localgyms">Find Local Gyms</a></li>-->
              {% else %}

                <li><a href="../mygoals/">My Goals</a></li>
                <li><a href="../todaysworkout/">Today’s Workout</a></li>
                <li><a href="../changepassword">Change Password</a></li>
                <li><a href="../disabledexercises/">Disabled Exercises</a></li>
<!---                <li><a href="../localgyms">Find Local Gyms</a></li>-->
                <li><a href="../logout">Log Out</a></li>
              {% endif %}
          	</ul>



            The Basics<br />
		  <ul class="leftMenu">
                <li><a href="../weightlifting">Learn About Weight Lifting</a></li>
                <li><a href="../cardio">Learn About Cardio</a></li>
                <li><a href="../nutrition">Learn About Nutrition</a></li>
       	  </ul>
            
            Understanding Our System<br />
		  <ul class="leftMenu">
                <li><a href="../phasedescriptions">Phases</a></li>
                <li><a href="../componentdescriptions">Components</a></li>
                {% if not login %}
               <li><a href="../viewexercises">Exercise Database</a></li>
                {% endif %}

<!--          </ul>
            Community<br />
		  <ul class="leftMenu">
                <li><a href="http://oraclefitness.lefora.com/" target="_blank">OracleFitness Forum</a></li>
          </ul>
-->
            Help<br />
		  <ul class="leftMenu">
                <li><a href="../contact">Contact Us</a></li>
          </ul>
        </div>
      <center><img alt="" src="../site_media/django.gif" width="126" height="54" class="freemember" />
      </center>
{% if login %}
      <center><img alt="" src="../site_media/testimonial.png" width="226" height="75" class="freemember" /></center>
      <div class="testimonialArea" id="testimonialArea">
      </div>

<script type='text/javascript'>updateTestimonial();</script>
{% endif %}
      </div>

      <div class="rightArea">
{% block content %}{% endblock %}
      </div>
      
    <div class="clear"></div>



</div>

	</div>
    <div class="footer"><div class="footerArea"><div class="bodybottomArea">
{% if login %}
      <div class="bodybottomLeft">For Free  <span class="signupText">SignUp</span> <a href="../mygoalsnew/" class="signupLink">Click Here</a></div>
      <div class="bodybottomRight"><a href="../mygoalsnew/" class="signupLink">Click Here for  More!!!</a></div>
{% endif %}
      </div>
      <div class="footerlinkArea"><a href="../home/" class="footerLink">{% if login %}About Us{%else%}Home{%endif%}</a><img alt="" src="../site_media/specer.gif" width="20" height="1" /><img alt="" src="../site_media/specer.gif" width="20" height="1" />|<img alt="" src="../site_media/specer.gif" width="20" height="1" />{% if login %}<a href="../signin/" class="footerLink">Sign In</a>{% else %}<a href="../logout/" class="footerLink">Sign Out</a>{%endif%}<img alt="" src="../site_media/specer.gif" width="20" height="1" />|<img alt="" src="../site_media/specer.gif" width="20" height="1" /><a href="../tour/" class="footerLink">Take the Tour</a><img alt="" src="../site_media/specer.gif" width="20" height="1" />|<img alt="" src="../site_media/specer.gif" width="20" height="1" /><a href="../contact/" class="footerLink">Contact Us</a><br />
      © 2010 Oracle Fitness<img alt="" src="../site_media/specer.gif" width="7" height="1" />|<img alt="" src="../site_media/specer.gif" width="7" height="1" /><a href="http://www.quantumcloud.com/" target="_blank" class="designLink">web design company:</a> <span class="webText">Quantumcloud</span></div>
      
      </div></div>
  </div>
</body>
</html>
