{% extends "iphoneskeleton.html" %}
{% block title %} | My Goals{% endblock %}



{% block content %}
<script type="text/javascript">

function checkform(form)
{
  if(!(form.age.value>0 && form.age.value<=130))
  {
    alert("We need to know your age!  We can't just assume you're a strapping 23 year old in your prime like the designers of this website are!");
    return false;
  }
  if (!(form.minutesPerDay.value>=20 && form.minutesPerDay.value<=10000))
  {
    alert("Tell us how many minutes per day you have available for exercise (at least 20 minutes).  That way, we can have fun packing your schedule with exercises much like a game of tetris.");
    return false;
  }
  if (!(form.daysPerWeek.value>0 && form.daysPerWeek.value<=7))
  {
    alert("We need to know how many days a week you can commit to exercising.  We create your schedule around you, so the least you can do is input a valid range.");
    return false;
  }
  var choice=false;
  for(j=0;j<form.goal.length;j++)
  {
    if(form.goal[j].checked)choice=true;
  }
  if(!choice)
  {
    alert("You need to pick a goal you big goof!");
    return false;
  }


  return true;
}



function updateChecks(checkBox)
{
  {% for outer in allEquipment %}
    {% for iterator in outer %}
      document.getElementById({{iterator.id}}).checked=checkBox.checked;
    {% endfor %}
  {% endfor %}

}
function commonEquipment(checkBox)
{

  document.getElementById('1').checked=checkBox.checked;
  document.getElementById('2').checked=checkBox.checked;
  document.getElementById('5').checked=checkBox.checked;
  document.getElementById('9').checked=checkBox.checked;
  document.getElementById('10').checked=checkBox.checked;
  document.getElementById('15').checked=checkBox.checked;
  document.getElementById('16').checked=checkBox.checked;
  document.getElementById('18').checked=checkBox.checked;
  document.getElementById('21').checked=checkBox.checked;
}



var totalChecks=0

function updateTotal(checkBox)
{
  if(checkBox.checked)
  {
    totalChecks++;
    if(totalChecks>7-document.getElementById("daysPerWeek").value)
    {
      totalChecks--;
      checkBox.checked=false;
    }
  }
  else totalChecks --;
}

function makeVisible(textInput)
{
  totalChecks=0;
  if(!(document.getElementById("daysPerWeek").value>0 && document.getElementById("daysPerWeek").value<=7))
  {
    alert('Input a value between 1 and 7 please');
    document.getElementById("daysPerWeek").value=5;
  }
  innerHTML='<span class="innerbodyText5" style="font-size: 18px;"><br>Which days of the<br>week are your normal<br>off days?</span>'
  document.getElementById('toFill1').innerHTML = innerHTML;
  innerHTML="<span class='innerbodyText5' style='font-size: 18px;'><input style='display: inline;' type='checkbox' name='mon'  value='1' onClick='updateTotal(this)'>Monday<br><br><input name='tues' type='checkbox'   value='1' onClick='updateTotal(this)'>Tuesday<br><br><input type='checkbox'   name='wed' value='1' onClick='updateTotal(this)'>Wednesday<br><br><input type='checkbox'  name='thurs' value='1' onClick='updateTotal(this)'>Thursday<br><br><input type='checkbox' name='fri'  value='1' onClick='updateTotal(this)'>Friday<br><br><input type='checkbox' name='sat'  value='1' onClick='updateTotal(this)'>Saturday<br><br><input type='checkbox' name='sun'  value='1' onClick='updateTotal(this)'>Sunday<br></span>"
  document.getElementById('toFill2').innerHTML = innerHTML;
}



</script>

<form id='primary' action="." method="POST" onsubmit="return checkform(this)">

<input type='hidden' name='day' id='day' value='0'>
<input type='hidden' name='year' id='year' value='0'>
<input type='hidden' name='month' id='month' value='0'>

        <center>
          <div class="innerbodyheadbg">My Goal	</div>
        </center>
        <span class="bodyText">        <br />
        </span>
        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead2.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg2.png" style="padding:10px 10px 0 10px;">


		<table width="363" border="0" cellpadding="1" cellspacing="0">
              <tr>
                <td align="right" class="bodyText5" ">Age</td>

                <td align="left" ><select style="font-size: 25px;" name="age">

{% if userInfo.age %}
	<option value="{{userInfo.age}}">{{userInfo.age}}</option>
{% endif %}
  {% for iterator in allAges %}
	<option value="{{iterator}}" >{{iterator}}</option>
  {% endfor %}
</select></td>

              </tr>


              <tr>
                <td align="right"  class="bodyText5">Gender</td>

                <td align="left" ><select style="font-size: 25px;" name="gender">
{% if isMale %}
<option value="Male">Male</option>
{% else %}
<option value="Female">Female</option>
{% endif %}
<option value="Male">Male</option>
<option value="Female">Female</option>
</select></td>
              </tr>





              <tr>
                <td align="right"  class="bodyText5" style="font-size: 18px">Minutes per day available for exercise</td>

                <td align="left" >
<select name="minutesPerDay" style="font-size: 25px;">
{% if userInfo.minutesPerDay %}
	<option value="{{userInfo.minutesPerDay}}">{{userInfo.minutesPerDay}}</option>
{% endif %}
  {% for iterator in allMinutes %}
	<option value="{{iterator}}" >{{iterator}}</option>
  {% endfor %}
</select>

                  <br />
                  </td>
              </tr>
              <tr>
                <td align="right"  class="bodyText5" style="font-size: 18px">Days per week available for exercise</td>


                <td align="left" >


<select name="daysPerWeek" style="font-size: 25px" id="daysPerWeek" onChange='makeVisible(this)'>
{% if userInfo.daysPerWeek %}
  <option value="{{userInfo.daysPerWeek}}">{{userInfo.daysPerWeek}}</option>
{% else %}
  <option value="None">(Choose One)</option>
{% endif %}
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>

                  <br />
</td>
              </tr>

<tr><td align="center" id='toFill1' style="text-align: center;"></td><td id='toFill2'></td></tr>
		</table>

		<table width="363" border="0" cellpadding="1" cellspacing="0" >

              <tr>
                <td align="center"  class="bodyText5">Experience</td></tr><tr>

                <td align="center" ><select style="font-size: 25px;" name="experience">
<option value="1" {% ifequal userInfo.experience.value 1%}SELECTED {% endifequal %}>No experience</option>
<option value="2" {% ifequal userInfo.experience.value 2%}SELECTED {% endifequal %}>Brief experience</option>
<option value="3" {% ifequal userInfo.experience.value 3%}SELECTED {% endifequal %}>I have an idea</option>
<option value="4" {% ifequal userInfo.experience.value 4%}SELECTED {% endifequal %}>Very experienced</option>
<option {% ifequal userInfo.experience.value 5%}SELECTED {% endifequal %} value="5">I'm an expert</option>

</select>
</td>
              </tr>

              <tr>
                <td align="center" valign="top" class="bodyText5">Current fitness Level</td></tr><tr>

                <td align="center" valign="top"><select style="font-size: 25px;" name="fitnessLevel">









<option value="1" {% ifequal userInfo.currentFitnessLevel.value 1%}SELECTED {% endifequal %}>Totally out of shape</option>
<option value="2" {% ifequal userInfo.currentFitnessLevel.value 2%}SELECTED {% endifequal %}>Work out on occasion</option>
<option value="3" {% ifequal userInfo.currentFitnessLevel.value 3%}SELECTED {% endifequal %}>Work out often</option>
<option value="4" {% ifequal userInfo.currentFitnessLevel.value 4%}SELECTED {% endifequal %}>I'm a big deal</option>
<option value="5" {% ifequal userInfo.currentFitnessLevel.value 5%}SELECTED {% endifequal %}>I'm a freak of nature</option>

</selectl>
</td>
              </tr>
            </table>
            <br /></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom2.png">&nbsp;</td>
          </tr>
        </table>

        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="400" height="11" background="../site_media/innercontenthead2.png"></td>
          </tr>
          <tr>
            <td align="center" valign="top" background="../site_media/innercontentbg2.png" style="padding:10px 10px 0 10px;">

<span class="innerbodyText" style="font-size: 20px;">Resources Available </span><span class="bodyText3"><br />
              </span><span class="innerbodyText5" style="font-size: 18px">(OR CHECK SOLELY THE ITEMS YOU WOULD LIKE TO USE)</span><br />
              <table width="332" border="0" align="center" cellpadding="2" cellspacing="1">
                <tr>
                  <td height="40" colspan="3" align="left">
<span class="bodyText3" style="font-size: 18px">
                    <input type="checkbox" class="checkbox"  id="selectAll" value="1" onClick='updateChecks(this)' style="width: 30px; height: 30px; margin-right: 5px;">
                    Select All <img src="../site_media/specer.gif" width="30" height="1" />
</span></td></tr><tr><td><span class="bodyText3" style="font-size: 18px">
<input type="checkbox" class="checkbox"  id="selectCommon" value="1" onClick='commonEquipment(this)' style="width: 30px; height: 30px; margin-right: 5px;">
                  Select Common Equipment</span></td>
                </tr>




{% for outer in allEquipment %}
<tr>
  {% for iterator in outer %}
<td width="{% cycle '160' '160' %}" height="60" align="left"><span class="bodyText3" style="font-size: 18px"><input type="checkbox" style="width: 30px; height: 30px; margin-right: 5px;" name="{{iterator.id}}" id="{{iterator.id}}" value="1">{{iterator.name}}</td><td></td>
  {% endfor %}
</tr>
{% endfor %}






              </table>
              <br />
              <br />
              <table width="332" border="0" cellpadding="5" cellspacing="1">



{% for outer in allGoals %}
<tr>
  <td width="20" align="left" valign="top"><input type="radio" style="width: 40px; height: 40px;" name="goal" value="{{outer.id}}" {% ifequal outer.id userInfo.goal.id%}CHECKED {% endifequal %}></td>
  <td width="214" align="left" valign="top" class="bodyText"><div align="justify"><strong class="bodyText3" style="font-size: 20px;">{{outer.name}}</strong><br />
                 <span class="bodyText8" style="visibility: hidden;">{{outer.description.text}}</span></div></td>
                  <td width="97" align="left" valign="top"><img src="../site_media/{{outer.image}}" width="97" height="84" /></td>
                </tr>


                <tr>
                  <td colspan="3" align="center" valign="top"><img src="../site_media/line.gif" width="350" height="2" align="absmiddle" /></td>
                </tr>
{% endfor%}





              </table>
              <center>
              </center></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom2.png">&nbsp;</td>
          </tr>
        </table>
        <br />
            <center>



<input type="Submit"  style='cursor: pointer; width: 226px; height: 47px; border: none; background:url(../site_media/save.gif)' value=''>



             <br />
<br />
            </center>

</form>


{% for iterator in allGoals %}<br><br>{% endfor %}
<script type="text/javascript">
var used=false;
{% for iterator in checkedEquipment %}
used=true;
document.getElementById({{iterator.id}}).checked=true;
{% endfor %}

if(!used)
{
document.getElementById("selectCommon").checked=true;
commonEquipment(document.getElementById("selectCommon"));
}





function fillDate()
{
try
{
var now = new Date();

var day = now.getDate();
var month = now.getMonth()+1;
var year = now.getFullYear();

document.getElementById('day').value=day;
document.getElementById('month').value=month;
document.getElementById('year').value=year;

}
catch(err)
{
alert(err);
}

}
</script>

<script type="text/javascript">
try
{
fillDate();
}
catch(err)
{
alert(err);
}






</script>

{% endblock %}
