{% extends "skeleton.html" %}
{% block title %} | Blog{% endblock %}



{% block content %}
<div class='blog'>
<div class='blogHeader'>
testtest test test estest</div>
<div class='blogText'>
Blog needs to go here so that users can interact...once a week we give a brief update of anything cool, give a reference to an article, talk about something or another, and allow comments.  This also gives the assurance to the users that we the developers are alive and kicking
<div class='commentSection'>
</div>

dsfdfg
dfgdf
gd
fg
dfg
</div>
</div>
{% endblock %}


