{% extends "skeleton.html" %}
{% block title %} - Nutrition{% endblock %}



{% block content %}
<h3>{{currentMax.cardioType.name}} for {{currentMax.fitnessLevel.name}}</h3>
<form action='.' method='POST'>
<table>
<tr><td></td><td>Max times/week</td></tr>
<tr><td>Low</td><td><input type='text' size='3' name='low' value='{{currentMax.loMaximum}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'></td></tr>
<tr><td>Medium</td><td><input type='text' size='3' name='medium' value='{{currentMax.medMaximum}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'></td></tr>
<tr><td>High</td><td><input type='text'  size='3' name='high' value='{{currentMax.hiMaximum}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'></td></tr>
<tr><td></td><td><input type='submit' value='Save'></td></tr>
</table>
</form>

{% endblock %}


