{% extends "skeleton.html" %}
{% block title %} | Cardio{% endblock %}



{% block content %}

<span class="bodyText">
When combined with weight lifting and a good nutrition plan, cardiovascular exercise can produce amazing results for your body...
<ul>
<li>It strengthens your heart and lungs - allowing you to breath easier and get better performance from your muscles.</li><br>
<br>

<li>It helps your body recover by increasing the blood flow in and out of your muscles - which brings more oxygen and nutrients in and more waste products out.</li><br>

<br>

<li>For those looking for increased endurance capacity, it's the improvement of that exchange in your muscles that allows for you to go faster for longer.</li><br>

<br>

<li>For those interested in just getting huge and super strong, those hard workouts create a lot of waste - waste that is removed through a more efficient transfer.  This applies not only during your weight workouts, but also in light to moderate cardio workouts themselves - you might have heard the term before, “active recovery.”</li><br>


<br>
<li>Cardio, like anything, else will stagnate if you keep doing the same thing.  There are many ways to vary the workouts and we utilize all of them.  Just adding more time on the stairmaster will only get you to the point that you are eventually overtraining yourself and seeing just about no improvement on your way there because your body is so used to that activity at that level. 
</li><br>

<br>
<li>The “fat-burning zone” is a myth.  The time when your body can only burn fat as fuel is when you are at complete rest - even then it doesn’t do it.  
</li><br>

<br>
<li>When your goal is to lose body fat, you need to focus on burning calories with your workouts. Burning lots of calories comes through both weight training and proper cardio training. When you eat appropriately, you set your body up to burn those calories from the fat you have on you.</li><br>
</ul></span>
{% endblock %}


