{% extends "skeleton.html" %}
{% block title %} | Change Password{% endblock %}

{% block content %}
<script type="text/javascript">

function checkform(form)
{
  if(form.newPassword.value=="")
  {
    alert("You need to input a value for your new password!");
    return false;
  }
  if(form.newPassword.value != form.confirmPassword.value)
  {
    alert("Your passwords don't match.  Did you make a typo?");
    return false;
  }
  return true;
}


</script>


<form action="." method="POST" onsubmit='checkform(this)'>



<br><br><br><br>
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;"><table width="600" border="0" cellpadding="2" cellspacing="1">


              <tr>
                <td width="258" align="right" valign="top" class="bodyText5">Old Password:</td>
                <td width="6" valign="top">&nbsp;</td>
                <td width="314" valign="top"><input type="text" class="form" style="width: 200px;" name="oldPassword"></td>
              </tr>
<tr><td class="bodyText5" align="right">New Password:</td><td></td><td><input type="password" class="form" style="width: 200px;" name="newPassword"></td></tr>
<tr><td class="bodyText5" align="right">Confirm new password</td><td></td><td><input type='password' class="form" style="width: 200px;" name='confirmPassword'></td></tr>
<tr><td></td><td></td><td><input type="image" name="Submit" src="../site_media/submit.gif" /></td></tr>
</table>
            <br /></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table>

</form>

{% endblock %}
