{% extends "skeleton.html" %}
{% block title %}{% endblock %}

{% block content %}
<span class="bodyText">
<b>Core</b><br><br><br>

For timed exercises, shoot for 30sec to start.  From there, build to 60sec.  Once you can hold 60sec well, add resistance and start back at 30sec.  Repeat this process as necessary.  For all other exercises, shoot to do the prescribed number of reps.  If you can do more than is listed, add more weight to the exercise in order to increase its difficulty.

<br><br>
<b>Balance</b><br><br><br>

Challenge yourself by using the most unstable object you can handle safely.  The important thing here is to move at a slow speed and remain in control.  You will aim to keep your spine and hips in alignment throughout each of these exercises.  Continually be pulling in your stomach and slightly contracting your glutes in order to best maintain posture through the exercises.  If an exercise is "...and balance," that means you will hold the single leg position for a full 2 count.
<br><br>

<b>Reactive</b><br><br><br>

Although you will be jumping around and trying to get off the ground as quick as possible, don’t get out of control.  Doing reactive exercises helps protect you against injury (along with getting faster, stronger, etc), but they can also be hazardous if you get out of control.  

<br><br>
<b>Resistance</b><br><br><br>

Each phase has a little different touch to it - be sure to read the descriptions of each phase.  How much you lift, how fast you lift it, and what you will standing/sitting all changes depending on the phase you are in.  If you don’t follow those guidelines you won’t experience the full benefit of each phase as programmed and will get inferior results.  If an exercise is “...with stabilization,” that means you will hold the landing position for a full 3 count.  

<br><br>
<b>Flexibility</b><br><br><br>


Ah the great debate of when, what kind, how much, etc.  What we promote (and this is based off the latest science) is an active warm up (your balance/reactive exercises, and a few minutes of cardio if you really need it all to prepare your body for the workout.  Then, standard static stretching of the muscles you worked  after your workout.  If you understand the principles of active stretching, then go ahead and do that on the muscles that need it before you workout.  Just be sure not to stretch muscles that don’t need it as you will be altering its length-tension relationship and setting yourself up for lesser performance from that muscle and also a chance for injury.

</span>
{% endblock %}
