{% extends "skeleton.html" %}
{% block title %} | New User{% endblock %}

{% block content %}
<script type="text/javascript">

function checkform(junk)
{
  form=document.getElementById("myForm");
  if(form.email.value=="")
  {
    alert("You need to input your email address!");
    return false;
  }
  if(form.password.value=="")
  {
    alert("You need to input a value for your new password!");
    return false;
  }
  if(form.password.value != form.confirmPassword.value)
  {
    alert("Your passwords don't match.  Did you make a typo?");
    return false;
  }

  return true;
}


</script>
<p>You're almost there!  Create login credentials for future use.</p>
<p>You will <strong>NOT</strong> be added to a mailing list.  Usernames are associated with email addresses <strong>solely</strong> for the purpose of password recovery.</p>

<form id="myForm" action="../payment/" method="POST"'>



<br><br><br><br>
<table border="0">
              <tr>
                <td width="258" align="right" valign="top" class="bodyText5">Email Address:</td>
                <td width="6" valign="top">&nbsp;</td>
                <td width="314" valign="top"><input type="text" class="form" style="width: 200px;" name="email"></td>
              </tr>
<tr><td class="bodyText5" align="right">Password:</td><td></td><td><input type="password" class="form" style="width: 200px;" name="password"></td></tr>
<tr><td class="bodyText5" align="right">Confirm password</td><td></td><td><input type='password' class="form" style="width: 200px;" name='confirmPassword'></td></tr>
<tr><td></td><td></td><td><input type="image" name="Submit" src="../site_media/submit.gif" onclick='return checkform(this)' /></td></tr>
            <br /></td>
        </table>

</form>


{% endblock %}
