<a href='../todaysworkout'>Go Back</a><br><br>

<table style='border: 1px solid black;'>
<tr><td><b>Exercise</b></td><td><b>Sets</b></td><td><b>Reps</b></td><td><b>Rest</b></td><td><b>Tempo</b></td></tr>
{% for iterator in todaysExercises %}
<tr><td>{{iterator.exercise.name}}{% if iterator.superSet %} superset with {{iterator.superSet.reps}} reps {{iterator.superSet.exercise.name}}{% endif %}</td><td>{{iterator.sets}}</td><td>{{iterator.reps}}</td><td>{{iterator.rest}}</td><td>{{iterator.tempo}}</td></tr>
{% endfor %}</table>
<br><br>
{%autoescape off %}
{% if existingWorkout.cardio %}
{{existingWorkout.cardio}}
{% endif %}


{% endautoescape %}

