{% extends "skeleton.html" %}
{% block title %}{% endblock %}

{% block content %}
<span class="bodyText">
<a href='../disablemusclegroups'>Disable Particular Muscle Groups</a>(Only if you are injured)<br><br>
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;">

<table width="600" border="0" cellpadding="2" cellspacing="1">



{% if disabledExercises %}
{% for iterator in disabledExercises %}
<tr><td class="bodyText"><a href="javascript:void(0)" onclick="window.open('../youtubelauncher{{iterator.id}}', '{{iterator.name}}', 'height=350','width=425').focus()">{{iterator.name}}</a></td><td class="bodyText"><a href='../readdexercise{{iterator.id}}'>Re-enable this exercise</a></td></tr>
{% endfor %}



{% else %}
<tr><td class="bodyText">
You don't have any disabled exercises.  We recommend you keep it this way.  You make progress doing the things you don't like and not as much from the things that you do. <br><br>If you're looking to disable a particular exercise, just click on the exercise if it comes up on a workout which will then launch a window that demonstrates the exercise.  Just click the link on that window that says "Don't give me this exercise again".
</td></tr>
{%endif%}
</table>
            <br /></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table>

</span>
{% endblock %}
