{% extends "skeleton.html" %}
{% block title %} - Home{% endblock %}



{% block content %}
<h2>Edit Frequency Exceptions</h2>

Ok, check this out...Here a new MuscleFrequency will be created, and then you're going to check all of the muscle groups that it applies to.  Name will be based off a drop down box.  Because of the complexity involved and how little this will actually be needed, you only need the ability to add and delete
<form action='../delete/' method='POST'>
<input type='hidden' name='type' value='frequencyException'>

<table>
{% for iterator in currentExceptions %}
<tr><td>{{iterator.muscles}}</td><td>{{iterator.name}}</td><td><input type='hidden' name='id' value='{{iterator.id}}'><input type='submit' value='delete' onClick="return confirm('You sure bra?')"></td></tr>
{% endfor %}
</table>
</form>


<form action='.' method='POST'>
<table>
<tr><td>Intensity:</td><td>
<select name='name'>
{% for iterator in allFrequencies %}
<option value='{{iterator.name}}'>{{iterator.name}}</option>
{% endfor %}
</select></td></tr>
<tr><td>Set Range:</td><td><input type='text' size='3' name='minSets'>-<input type='text' size='3' name='maxSets'></td></tr>
<tr><td>Rep Range:</td><td><input type='text' size='3' name='minReps'>-<input type='text' size='3' name='maxReps'></td></tr>
<tr><td>Times per Week:</td><td><input type='text' size='3' name='minimum'>-<input type='text' size='3' name='maximum'></td></tr>
<tr><td>Applies to:</td><td>{% for iterator in allMuscleGroups %}<input type="checkbox" name="muscle{{iterator.id}}" value="1">{{iterator.name}}<br>{% endfor %}</td></tr>
<tr><td></td><td><input type='submit' value='Add'></td></tr>
</table>

</form>


{% endblock %}


