{% extends "skeleton.html" %}
{% block title %} - Home{% endblock %}



{% block content %}



<h2>Edit Frequencies (Days per week) for '{{currentFitnessLevel.name}}'</h2>
<p style='width: 600px;'>This is the amount of days in a given week that a workout component will appear.  The dependent variables here are fitness level and phase.  When the week is set up, the components are evenly distributed across the week to provide a basic framework for how the workouts will be generated.  From there, volume tables will then come into play and allocate an associated numbers of exercises.</p>
<p style='width: 600px;'>If the number of workout components exceeds the days available to the user, then the extra components are just dropped.  If cardio has to be packed into the week on a limited schedule (which will prolly be most everyone), workout components are shifted away from a cardio day onto another day</p>
<p style='width: 600px;'>And to clear up any possible confusion, duplicate workout components will never be in the same day.  The number of exercises that appear is handled by volume.  Workout components just become a dependent variable and it's an intermediary step toward the final generation of a workout.</p>


<form action='.' method='POST'>
<input type='hidden' name='currentFitnessLevel' value='{{currentFitnessLevel.id}}'>

{% for weekIterator in allWeeks %}
<table>
<tr class="{% cycle 'row2' 'row1' %}"><td>Week {{weekIterator}}</td>
{% for iterator in allWorkoutComponents %}
<td>{{iterator.name}}</td>
{% endfor %}
</tr>
{% for outerIterator in allPhases %}
<tr class="{% cycle 'row1' 'row2' %}"><td>{{outerIterator.name}}</td>
{% for innerIterator in allWorkoutComponents %}
<td><input size='3' type="text" id="{{outerIterator.id}}{{innerIterator.id}}{{weekIterator}}1" name="{{outerIterator.id}}{{innerIterator.id}}{{weekIterator}}1" value='1' onFocus='makeBlank(this);' onBlur='updateValue(this);'>-<input size='3' type="text" id="{{outerIterator.id}}{{innerIterator.id}}{{weekIterator}}2" name="{{outerIterator.id}}{{innerIterator.id}}{{weekIterator}}2" value='4' onFocus='makeBlank(this);' onBlur='updateValue(this);'></td>
{% endfor %}
</tr>
{% endfor %}

</table>
{% endfor %}
<table>
<tr><td></td><td><input type='submit' value='Submit'></td></tr></table>
</form>




{% if alreadyExists %}
<script type="text/javascript">
{% for iterator in existingList %}
document.getElementById('{{iterator.key}}').value='{{iterator.value}}';
{% endfor %}
</script>
{% endif %}

{% endblock %}


