{% extends "skeleton.html" %}
{% block title %} - Edit Cardio{% endblock %}
{% block content %}
<h3>
{{currentCardio.cardioAction.verb}} 
{% ifequal currentCardio.level 1 %}Low{% endifequal %}
{% ifequal currentCardio.level 2 %}Medium{% endifequal %}
{% ifequal currentCardio.level 3 %}High{% endifequal %}
 for clients who are {{currentCardio.fitnessLevel.name}} with a {{currentCardio.cardioType.name}} goal
</h3>
<form action='.' method='POST'>
<table>
<tr><td>Time</td><td><input type='text' name='time' size='6' value='{{currentCardio.time}}'></td></tr>
<tr><td>Rest</td><td><input type='text' name='rest' size='6' value='{{currentCardio.rest}}'></td></tr>
<tr><td>Sprint Distance</td><td><input type='text' name='sprintDistance' size='6' value='{{currentCardio.sprintDistance}}'></td></tr>
<tr><td>Regular Distance</td><td><input type='text' name='distance' size='6' value='{{currentCardio.distance}}'></td></tr>
<tr><td>Heart Rate</td><td><input type='text' name='heartRate' size='6' value='{{currentCardio.heartRate}}'></td></tr>
<tr><td></td><td><input type='Submit' value='Save'></td></tr>
</table>
</form>

{% endblock %}


