{% extends "skeleton.html" %}
{% block title %} - Edit Cardios{% endblock %}



{% block content %}
<h2>Edit Cardios</h2>

<p style='width: 600px;'>
2 things here: first is just a verb you associate with equipment.  Cardio is randomly selected and when you tell a person at a personal level to go bike or run or whatever, the pre-condition is that they have the associated equipment
</p>

<p style='width: 600px;'>
2nd half is way more complicated but shouldn't need any modifying at this point.  Workout generator assigns low, medium, or heavy cardio, and from there either a zone 1, 2, or 3 type workout is output, and that part is random.  Zone 2 and 3 workouts both drop down to the previous zone.
</p>
<p style='width: 600px;'>
If you also see the hardcoded rules, this forces the program to point to a cardio type even if a person is really in shape or whatever.  For example, a really in shape bodybuilder or powerlifter is not going to do intense or overly long cardio, so we would point those guys to always go to the beginner cardio.
</p>
<p style='width: 600px;'>
Also, if you leave any case unaccounted for as far as a fitness level or phase, that will also break things
</p>

<form action='.' method='POST'>
<input type='hidden' name='cardiotypes' value='0'>
<table>

<tr><td></td><td><b>Minimum Cardio Days Per Week</b></td></tr>
{% for iterator in allCardioType %}
<tr>
<td>{{iterator.name}}</td><td><input name='cardiotype{{iterator.id}}' type='text' value='{{iterator.minimum}}' size=2></td></tr>
{% endfor %}
<tr><td></td><td><input type='submit' value='Submit'></td></tr>
</table>
</form>



<table>
<tr><td>Cardio 'verb'</td><td>Equipment Required</td></tr>
{% for iterator in allCardioActions %}
<tr class="{% cycle 'row1' 'row2' %}"><td>{{iterator.verb}}</td><td>{{iterator.equipment.name}}</td><td><form action='../delete/' method='POST'>
<input type="hidden" name="type" value="cardioAction">
<input type="hidden" name="id" value="{{iterator.id}}">
<input type='submit' value="Delete this Item" onClick="return confirm('You sure bra?')">
</form></td></tr>
{% endfor %}
<form action='.' method='POST'>
<tr><td><input type='text' name='verb'></td><td><select name='equipment'>
{% for iterator in allEquipment %}
<option value='{{iterator.id}}'>{{iterator.name}}</option>
{% endfor %}

</select></td>

<td><input type='submit' value="Add a new one"></td></tr>
</form>
</table>


<form action='.' method='POST'>
<input type='hidden' name='newTable' value='1'>
<input type='submit' value='Create a new zone table'>
</form>



{% for dictionary in allZones %}

<form action='.' method='POST'>
<input type='hidden' name='save' value='1'>
<table>
<tr><td></td><td></td><td><b>Zone 1</b></td><td><b>Zone 2</b></td><td><b>Zone 2</b></td><td><b>Zone 3</b></td></tr>
{% for listObject in dictionary.matrix %}
<tr class="{% cycle 'row1' 'row2' %}">
<td><b>{% cycle 'Low' 'Medium' 'High'%}</b></td>
<td style ="line-height: 1.7em;">
Min Interval (mins):<br>
Max Interval (mins):<br>
Min Previous Interval:<br>
Max Previous Interval:<br>
Min Heart Rate:<br>
Max Heart Rate:<br>
Total Time in Zone:<br>
Max cardio session time:<br>
</td>
{% for iterator in listObject %}


<td style='text-align: right;'>
<input type='text' size='3' name="minInterval{{iterator.id}}" value='{{iterator.minInterval}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>
<input type='text' size='3' name="maxInterval{{iterator.id}}" value='{{iterator.maxInterval}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>
<input type='text' size='3' name="minPrevious{{iterator.id}}" value='{{iterator.minPrevious}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>
<input type='text' size='3' name="maxPrevious{{iterator.id}}" value='{{iterator.maxPrevious}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>

<input type='text' size='3' name="minHeartRate{{iterator.id}}" value='{{iterator.minHeartRate}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>


<input type='text' size='3' name="heartRate{{iterator.id}}" value='{{iterator.heartRate}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>

<input type='text' size='3' name="totalTime{{iterator.id}}" value='{{iterator.totalTime}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>
<input type='text' size='3' name="maxOverall{{iterator.id}}" value='{{iterator.maxOverall}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'><br>
</td>

{% endfor %}
</tr>
{% endfor %}
<tr><td></td><td></td><td><input type='submit' value='Save'></td></tr>
</table>


<table>
<tr><td>Applies to <br>these Fitness Levels:</td><td>
{% for fitnessLevelObject in allFitnessLevels %}
<input type="checkbox" class="checkbox" name="fitness{{fitnessLevelObject.id}}" id="fitness{{fitnessLevelObject.id}}" value="1" 
{% for fitnessObject in dictionary.fitnessLevels %}

{% ifequal fitnessObject.id fitnessLevelObject.id %}
CHECKED 
{% endifequal %}
{% endfor %}


>{{fitnessLevelObject.name}}<br>
{% endfor %}


</td><td>Applies to <br>these Cardio Types:</td><td>
{% for cardioTypeObject in allCardioTypes %}
<input type="checkbox" class="checkbox" name="cardio{{cardioTypeObject.id}}" id="cardio{{cardioTypeObject.id}}" value="1"
{% for cardioObject in dictionary.cardioTypes %}

{% ifequal cardioObject.id cardioTypeObject.id %}
CHECKED 
{% endifequal %}
{% endfor %}>{{cardioTypeObject.name}}<br>
{% endfor %}


</td></tr>
</table>
</form>


<table>
<tr><td><b>Hard Coded Rules</b></td><td></td></tr>



<form action='../delete/' method='POST'>
{% for iterator in dictionary.hardCodedRules %}
<tr class="{% cycle 'row1' 'row2' %}"><td>Currently use this for <b>{{iterator.cardioType.name}}</b> goals in the <b>{{iterator.phase.name}}</b> phase</td><td>
<input type="hidden" name="type" value="hardCodedRule">
<input type="hidden" name="id" value="{{iterator.id}}">
<input type='submit' value='Delete this Rule' onClick="return confirm('You sure bra?')">

</td></tr>
{% endfor %}
</form>
<form action='.' method='POST'>
<input type='hidden' name='hardCodedRule' value='1'>
<input type='hidden' name='cardioZone' value='{{dictionary.lastZone.id}}'>
<tr><td>Use this for 
<select name='cardioType'>
{% for iterator in allCardioTypes %}
<option value='{{iterator.id}}'>{{iterator.name}}</option>
{% endfor %}
</select>
goals in the 
<select name='phase'>
{% for iterator in allPhases %}
<option value='{{iterator.id}}'>{{iterator.name}}</option>
{% endfor %}
</select>
phase


</td><td><input type='submit' Value="Add this Rule"></td></tr>
</form>

<table>


<br><br><br><br><br>
{% endfor %}





{% endblock %}


