{% extends "skeleton.html" %}
{% block title %} - Edit Cardios{% endblock %}



{% block content %}



<h2>Edit Cardios</h2>
<p style='width: 600px;'>
Here the dependent variables are fitness level and the type of cardio.  While cardio is already established in times/week by volume, here you set the ceilings for low, medium, and heavy cardio.  So when the workout generated fluctuates between lo, med, and hi cardio, it will recognize if ceilings have been hit and then bring the cardio level down a notch.
</p>

<table>

{% for iterator in allMaxes %}
<tr class="{% cycle 'row1' 'row2' %}"><td><a href='../cardiomax{{iterator.id}}'>{{iterator.cardioType.name}} for {{iterator.fitnessLevel.name}}</a></td></tr>
{% endfor %}


{% endblock %}


