{% extends "skeleton.html" %}
{% block title %}{% endblock %}

{% block content %}
<br><br>
<p style='width: 700px'>
Ok, so check this out.  This is a table that shows the breakdown of the percentage of exercises based on muscle CATEGORY, meaning how they fall into a group of muscles.  Each column has a muscle listed, but this pertains to that muscle and ALL RELATED muscles.  The 0% is actually 0.something...it's rounded down.</p>
<table>
{% for iterator in allPhase %}
<tr><td>{{iterator.name}}</td>{% for inner in iterator.list %}<td>{{inner}}%</td>{% endfor %}</tr>
{% endfor %}
</table>

<p style='width: 700px'>
The above information is actually fairly useless since all the phases have a fairly even distribution.  The important thing is that there's basically 9 different muscle categories, and really 7 big ones.  The below table is based on phase and days per week for the user.  You give a percentage that the program uses as a reference to try and maximize a given muscle group for x% of the resistance and core exercises.  For example, if you say 50% muscle exhaustion for hypertrophy at 5 days per week, then the users that fall in that category will have half of their exercises assigned to chest on a given day and half assigned to arms (or whatever the percentages end up being).  Again, the multi-dimensionality of this site is being covered in another table too (the muscle frequency one).  </p>
<form action='.' method='POST'>
<table>
<tr><td><b>Phase</b></td><td>1 Day/Week</td><td>2 Day/Week</td><td>3 Day/Week</td><td>4 Day/Week</td><td>5 Day/Week</td><td>6 Day/Week</td><td>7 Day/Week</td></tr>
{% for iterator in allPhase2 %}

<tr class="{% cycle 'row1' 'row2' %}"><td>{{iterator.name}}</td>{% for inner in iterator.list %}<td><input type='text' size='3' value='{{inner.percent}}' name='exhaustion{{inner.id}}' onFocus='makeBlank(this);' onBlur='updateValue(this);'>%</td>{%endfor %}</tr>
{% endfor %}
</table>
<input type='submit' value='Submit'>
</form>
{% endblock %}
