{% extends "skeleton.html" %}
{% block title %}Exercise Library{% endblock %}



{% block content %}


<table>

<tr>
{% for iterator in toDisplay %}
<td onMouseOver="document.getElementById('{{iterator.id}}').src='http://img.youtube.com/vi/{{iterator.url}}/1.jpg';", 
onMouseOut="document.getElementById('{{iterator.id}}').src='http://img.youtube.com/vi/{{iterator.url}}/2.jpg';"><center>
<a href="../view-exercise-{{iterator.name2}}">
<img id='{{iterator.id}}'src="http://img.youtube.com/vi/{{iterator.url}}/2.jpg"/><br>
{{iterator.name}}</a>
</center>
{% cycle '</td>' '</td>' '</td></tr><tr><td><br/></td></tr><tr>' %}
{% endfor %}              
</tr>
       </table>       

<center>
<a href="../exerciselibrary{{previous}}">Previous | </a>
{% for iterator in indices %}
<a href="../exerciselibrary{{iterator}}">Page {{iterator}}</a> | 
{% endfor %}
<a href="../exerciselibrary{{next}}">Next</a>
</center>



{% endblock %}


