{% extends "skeleton.html" %}
{% block title %} | Forgot Password{% endblock %}



{% block content %}
<span class="bodyText">
Wow, this must be really embarassing for you.  Just give us your email address and we can send you a new temporary password.
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;">

<table width="600" border="0" cellpadding="2" cellspacing="1">
<tr><td>


<form action='.' method='POST'>
<table><tr><td class="bodyText5">Email Address</td><td><input type='text' name='email' class="form" style="width: 200px;"></td></tr>
<tr><td></td><td><input type='image' src='../site_media/submit.gif' ></td></table>
</form>
</td></tr>
</table>
            <br /></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table></span>


{% endblock %}


