


{% extends "skeleton.html" %}

{%block title %}Intelligent Workout Construction{% endblock %}
{% block content%}
{% if not login %}
<strong>Check your <a href="../todaysworkout">your custom-tailored workout</a></strong><br /><br />
{% endif %}
<p>
<strong>Update: </strong>Hey all, it's been a while since we've upgraded the site at all.  In fact, it was first made live in 2010 and since then we've been pretty quiet.  We just wanted to make an announcement that we've got some plans for a much needed update to this product, but if you want to check out what we've been up to, we've just released <a href="http://onerepmaxcalculator.com">One Rep Max Calculator</a>, a site that uses computer vision to estimate your one rep max in benchpress.
</p>
<p>
If you're interested in updates of the "version 3" of WorkoutGenerator (we're skipping version 2 entirely because it'll be that much of an update) you can sign up for a mailing list here, and we'll let you know when our new product is out!
</p>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//workoutgenerator.us9.list-manage.com/subscribe/post?u=8d28f568494510c114013f4e1&amp;id=390f9a5de4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <h2>Receive Updates about Upcoming Products from WorkoutGenerator.net</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name </label>
    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-LNAME">Last Name </label>
    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8d28f568494510c114013f4e1_390f9a5de4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<center><h1>Workout Generator</h1></center>
<p><strong>WorkoutGenerator.net</strong> provides cutting edge technology to deliver top quality, custom-tailored workouts that foster a long-term training plan to constantly challenge your body and force it to adapt to your goal.  No tricks.  No gimmicks.  Just our knowledge and your work.</p>

<center><h3>Get your workout plan in 18 seconds</h3>That's how long it takes to sign up<br/><br/></center>
<br/>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8798361157795747";
/* WorkoutGeneratorAd1 */
google_ad_slot = "0110207613";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br/>
<br/>
<center><img src="../site_media/nateQuote.png" alt="Nate Green"/></center>
<p style="text-align: right;">-Nate Green, <a href="http://www.thenategreenexperience.com/blog/built-for-show-and-go">The Nate Green Experience</a></p>

<p>No matter what your experience level is, <strong>you will benefit from following a workout plan you didn't create</strong>.  And our program can accomplish workout creation in a matter of <strong> seconds</strong> and accomplish the exact same thing that a <strong> legitimate</strong> trainer would do at a much higher cost, in a much slower manner, and possibly not to the same level of quality that we've built.</p>

<p>Our program will create work out routines designed specifically for your goal, your schedule, your equipment, and your fitness level.  With over <a href="../exerciselibrary1">600 exercises</a> and an extensive set of carefully crafted parameters, we can automate the process of workout creation in the same, if not better, manner as an experienced, competent personal trainer.</p>

<p><strong>To counter what I'm sure you might be thinking</strong> I make a point to choose my words very carefully when I compare our work to a personal trainer.  <strong>Our program designs, constructs, and plans your workouts</strong>, but we'll never be able to replicate the coaching and mentoring a human trainer would offer.  But I can promise this: this program can create a productive, efficient, and challenging workout schedule that's better than what many full time trainers could come up with on their own.</p>

<p>What separates <strong>Workout-Generator.net</strong> from any other site offering workout plans is that the workouts we create for you are dynamically generated on the fly a week at a time.  Other supposed "workout generators" either deliver a pre-canned set of workouts not specific to your exact goal and that you will eventually exhaust or a completely generic, random set of exercises is regurgitated.  We can say with absolute certainty and honesty that no workout program exists in the world that is as sophisticated and calculated as the program we've developed and are happy to offer you now.</p>
<p>Our program is <strong>goal-oriented</strong>; everything created on your behalf is calculated in a manner as a means to an end.  Our program will give specific direction in a periodized manner to support a <strong>long-term</strong> training plan.  Choose from any of the goals below, put in the work, and be amazed at how your body reacts!</p>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8798361157795747";
/* Workout Generator ad3 */
google_ad_slot = "0814567725";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="box-style2">

														<tr>

															<td><h3 class="title"><span>Workout Routines</span> built to meet <span>11 different goals</span></h3></td>

														</tr>

														<tr>

															<td class="content"><dl class="dl-style1">


																	<dd class="first"><img style="float: left; padding: 0px 5px 0px;" src="/site_media/4.jpg" alt="develop the optimal body"/>Develop the optimal body to attract a partner or impress the one you already have.  While few would admit it, the truth is that most of us seek to look better.  Build muscle, burn fat, and become a far more healthy person along the way.</dd>



																	<dd><img style="float: right; padding: 0px 5px 0px;" src="/site_media/7.jpg" alt="rapid weight loss"/>Just about 1/3 of Americans are considered obese, and if you fall into this category and want a change in your lifestyle, we're here to help you along the way.  Combined with an appropriate diet, our workouts will melt away the fat and reveal a new version of your body. </dd>
																	<dd><img style="float: left; padding: 0px 5px 0px;" src="/site_media/5.jpg" alt="bodybuilder"/>Weight loss might not be what you're interested in.  You want to get big.  You want to be a freak.  We've got you covered there too if you want an effective program that can get pack on slabs of muscle fast.  Follow the program long enough and you'll end up looking like a bodybuilder. </dd>
																	<dd><img style="float: right; padding: 0px 5px 0px;" src="/site_media/2.jpg" alt="strong man"/>Screw aesthetics.  You want to get stronger in the gym.  You're not one to stare at yourself in the mirror.  You're the one that rips heavy weight off the ground and finds satisfaction in doing so. </dd>



																</dl></td>

														</tr>
													</table>
<center><h3>...and these are just a handful of our workout programs</h3></center>

{% if login %}
<center><a href="../mygoalsnew"><div class="buttonSignUp"></div></a></center>
{% endif %}
{% endblock %}

