
<script type="text/javascript">
var oldValue;
var newValue;
function makeBlank(textInput)
{
  oldValue=textInput.value;
  textInput.value="";
}
function updateValue(textInput)
{
  if(textInput.value=="")
  {
    textInput.value=oldValue;
  }
}

{%if login %}

var counter=0;;


{% endif%}

</script>

﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="online personal trainer, online workouts, training program, weight loss, fitness, lose weight,  Trainer, Burn Fat, Build Muscle, Personal Fitness Plan, Get in Shape, Fitness Solution, Online Fitness, Online Personal Fitness Training, Fitness Plan, Personal Fitness Trainer, Fitness Goals,  Lose Fat, Basic Fitness Training, Online Fitness Plans, exercise, weight loss program, lose weight, fitness program, health and fitness, build muscle, diet plan"">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width = device-width">
<link href="../site_media/xc_oraclefitness.css" rel="stylesheet" type="text/css" />
	<title>OracleFitness{% block title %}{% endblock %}</title>

<link rel="shortcut icon" type="image/x-icon" href="../site_media/favicon.ico" />
</head>

<body>
  <div class="bgArea">
	<div class="wapper">



    <div class="bodyArea" style="border-radius: 20px;">
<br>    
      <div class="iphonerightArea" >
{% block content %}{% endblock %}
      </div>
      
    <div class="clear"></div>



</div>

	</div>


      </div></div>
  </div>
</body>
</html>
