{% extends "iphoneskeleton.html" %}
{% block title %} | My Goals{% endblock %}



{% block content %}

<br>
<a href='http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=441421826&mt=8&ign-mpt=uo%3D6' style="font-size: 4em;">Download the app now!</a><br>
        <span class="bodyText">        <br />



<a href='http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=441421826&mt=8&ign-mpt=uo%3D6' style="font-size: 4em;"><img src="../site_media/ad4.jpg" style="border-radius: 20px; margin-left: 5px; position: relative; float: left;" width=220></a>
<div style="margin-left: 210px;">
<ul><h1 class="bodyText5" style="font-size: 1.4em; margin-left: -15px;">See what others are saying</h1>
<li><a href='http://www.freshapps.com/iphone-app-review-oracle-fitness/'>FreshApps.com Review</li>


<ul><br><br>
<iframe class='youtube-player' style='border-radius: 20px; margin-left: -55px;' type='text/html' width='180' height='108' src='http://www.youtube.com/embed/aqNtWKaV7-s' frameborder='0'></iframe><br>
</div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>


{% endblock %}
