{% extends "skeleton.html" %}
{% block title %} - New User{% endblock %}



{% block content %}
{% if error %}
<h3>That username already exists.</h3>
{% endif %}

{% if passwordError %}
<h4>Password doesn't match up with confirmation.  Re-enter passwords.</h4>
{%endif%}


<form action="." method="POST">
  <table>

<tr><td>Username:</td><td><input type="text" class="text" name="username"></td><td></td><td></td></tr>
<tr><td>Password:</td><td><input type="password" class="text" name="password"></td><td></td><td></td></tr>
<tr><td>Confirm Password:</td><td><input type ="password" class="text"  name="confirmPassword"></td><td></td><td></td></tr>
<tr><td></td><td><input type='radio' name='isAdmin' value='1' CHECKED>Admin</td><td></td><td></td></tr>
<tr><td></td><td><input type='radio' name='isAdmin' value='0'>Regular User</td><td></td><td></td></tr>
<tr><td>
<input type="submit" src="../images/submit.gif" value = "submit"></p>
</td></tr>
  </table>
<p>
</form>

{% endblock %}

