{% extends "skeleton.html" %}
{% block title %}Resources{% endblock %}



{% block content %}

<p>
A fitness website that jumps right into fairly advanced weight lifting wouldn't be complete without trying to convey a general understanding of the basics of weight lifting and the lifestyle associated with it.  Here's just a brief collection of resources to browse through that might help you in your quest to get huge/small/lean/strong/fast/healthy.
</p>

<p style="margin-left: 20px;">
<a href="../exerciselibrary1">Exercise Library</a><br/>
<a href="../componentdescriptions">Workout Component Descriptions</a><br/>
<a href="../phasedescriptions">Phase Descriptions</a><br/>
<a href="../cardio">Cardio Basics</a><br/>
<a href="../weightlifting">Weight Training Basics</a><br/>
<a href="../nutrition">Nutrition Basics</a><br/>



</p>
{% endblock %}
