


<html lang="en">
<head>
	<title>OracleFitness</title>

<style>
.printtd 
{ 
  border: 1px solid black; 
  margin: 0px;
  padding: 0px;

}
.basic
{
border: 1px solid black; 
border-collapse: collapse;
padding: 0px;
margin: 0px;
}

</style>








<a href='../sampleworkout/'>Go Back</a><br><br>

<table class='basic'>
<tr><td class='printtd' style='min-width: 13em;'>
<table class='basic'>
 
</table ></td></tr>
<tr><td class='printtd'>Reactive

<br>(Rest for 45s)
<br>Tempo: 0-0-0 seconds

</td><td class='printtd'><table class='basic' style='width: 100%;'>

<tr><td class='printtd' style='max-width: 8em;'>Squat Jacks</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td></tr>

<tr><td>Target: 2 x 8 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>


</tr>
 

<tr><td class='printtd' style='max-width: 8em;'>Lateral Single Leg Hop with Stabilization</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td></tr>

<tr><td>Target: 2 x 8 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>


</tr>
 
</table ></td></tr>
<tr><td class='printtd'>Resistance

<br>(Rest for 4m)
<br>Tempo: 0-0-0 seconds

</td><td class='printtd'><table class='basic' style='width: 100%;'>

<tr><td class='printtd' style='max-width: 8em;'>Push Press</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 3 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 4 (Wt/Reps)</td></tr>

<tr><td>Target: 4 x 5 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>


</tr>
 

<tr><td class='printtd' style='max-width: 8em;'>Dips (with weight belt if necessary)</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 3 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 4 (Wt/Reps)</td></tr>

<tr><td>Target: 4 x 5 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>

</tr>
 

<tr><td class='printtd' style='max-width: 8em;'>Step Back Lunge</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 3 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 4 (Wt/Reps)</td></tr>

<tr><td>Target: 4 x 5 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>


</tr>
 
</table ></td></tr>

<tr><td class='printtd'>Core

<br>(Rest for 45s)
<br>Tempo: 0-0-0 seconds

</td><td class='printtd'><table class='basic' style='width: 100%;'>

<tr><td class='printtd' style='max-width: 8em;'>Prone Cobra</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 3 (Wt/Reps)</td></tr>

<tr><td>Target: 3 x 12 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>


</tr>
 


<tr><td class='printtd' style='max-width: 8em;'>Side Elbow Stand Medial Leg Lift</td><td class='printtd' style='min-width: 4em;'>Set 1 (Wt/Reps)</td><td class='printtd' style='min-width: 4em;'>Set 2 (Wt/Reps)</td></tr>

<tr><td>Target: 2 x 10 reps</td><td class='printtd'  style='min-width: 4em;'><br><br></td><td class='printtd'  style='min-width: 4em;'><br><br></td>


</tr>
 
</table ></td></tr>
<tr><td class='printtd'>Flexibility

</td><td class='printtd'><table class='basic' style='width: 100%;'>

<tr><td class='printtd' style='max-width: 8em;'>Lying Quad Stretch</td></tr>


 

<tr><td class='printtd' style='max-width: 8em;'>Knee Flops</td></tr>


 

<tr><td class='printtd' style='max-width: 8em;'>Skin the Cat (rings)</td></tr>


 

<tr><td class='printtd' style='max-width: 8em;'>Tricep Stretch Behind Head</td></tr>


 

<tr><td class='printtd' style='max-width: 8em;'>Seated Hip-Glute Stretch</td></tr>


 

<tr><td class='printtd' style='max-width: 8em;'>Trunk Twist</td></tr>


 

<tr><td class='printtd' style='max-width: 8em;'>Seated Groin Stretch</td></tr>



</table></table>
















