
<script type="text/javascript">
var oldValue;
var newValue;
function makeBlank(textInput)
{
  oldValue=textInput.value;
  textInput.value="";
}
function updateValue(textInput)
{
  if(textInput.value=="")
  {
    textInput.value=oldValue;
  }
}



</script>

﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="online personal trainer, online workouts, training program, weight loss, fitness, lose weight,  Trainer, Burn Fat, Build Muscle, Personal Fitness Plan, Get in Shape, Fitness Solution, Online Fitness, Online Personal Fitness Training, Fitness Plan, Personal Fitness Trainer, Fitness Goals,  Lose Fat, Basic Fitness Training, Online Fitness Plans, exercise, weight loss program, lose weight, fitness program, health and fitness, build muscle, diet plan"">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../site_media/qc_oraclefitness.css" rel="stylesheet" type="text/css" />
	<title>OracleFitness | Today's Workout</title>

<link rel="shortcut icon" type="image/x-icon" href="../site_media/favicon.ico" />

</head>

<body>
  <div class="bgArea">
	<div id="wapper">
    <div class="topmenuArea">

    	<div class="loginArea">

    	    <img alt="" src="../site_media/specer.gif" width="20" height="1" />OracleFitness<img alt="" src="../site_media/specer.gif" width="40" height="1" />

           <form action="../logout/" method="GET" style="display: inline;">
          <input type="submit" name="button" value="Logout" class="login" /></form>
          


    	</div>





        <div class="topmenuList">
        <a href="../home/" class="mainlinkHome" title="Home">HOME</a>

        <a href="../tour/" class="mainlinkTour" title="Take The Tour">TAKE THE TOUR</a>
        <a href="../contact/" class="mainlinkContact" title="Contact Us">CONTACT US</a>        
        </div>
    </div>

    <div class="innerbodytop">
      <div align="center"><img alt="" src="../site_media/innerbodytop.png" width="959" height="19" /></div>
    </div>
    <div class="bodyArea">

    <div class="leftArea"><center><a href="../mygoalsnew/"><img alt="" src="../site_media/free.gif" border="0" class="freemember" /></a></center>
      
	  <div class="menuArea">
			Home<br />

			<ul class="leftMenu">


	      <li><a href="../home">About the Site</a></li>
	      <li><a href="../tour">Take the Tour</a></li>


          	</ul>





			
			My Program<br />
			<ul class="leftMenu">
              
	  	  <li><a href="../signin">Sign in</a></li>
	  	  <li><a href="../localgyms">Find Local Gyms</a></li>
              
          	</ul>


            The Basics<br />
		  <ul class="leftMenu">
                <li><a href="../weightlifting">Learn About Weight Lifting</a></li>
                <li><a href="../cardio">Learn About Cardio</a></li>
                <li><a href="../nutrition">Learn About Nutrition</a></li>
       	  </ul>

            
            Understanding Our System<br />
		  <ul class="leftMenu">
                <li><a href="../phasedescriptions">Phases</a></li>
                <li><a href="../componentdescriptions">Components</a></li>
                

          </ul>
            Community<br />
		  <ul class="leftMenu">

                <li><a href="http://oraclefitness.lefora.com/" target="_blank">OracleFitness Forum</a></li>
          </ul>
            Help<br />
		  <ul class="leftMenu">
                <li><a href="../contact">Contact Us</a></li>
          </ul>
        </div>

      <center><img alt="" src="../site_media/django.gif" width="126" height="54" class="freemember" />
      </center>

      <center><img alt="" src="../site_media/testimonial.png" width="226" height="75" class="freemember" /></center>
      <div class="testimonialArea" id="testimonialArea">
      </div>

<script type='text/javascript'>updateTestimonial();</script>

      </div>


      <div class="rightArea">


<script type="text/javascript">
function fillDate()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day').value=day;
document.getElementById('month').value=month;
document.getElementById('year').value=year;




}
function fillDate2()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day2').value=day;
document.getElementById('month2').value=month;
document.getElementById('year2').value=year;
}


function fillDate3()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day3').value=day;
document.getElementById('month3').value=month;
document.getElementById('year3').value=year;
}

function fillDate4()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day4').value=day;
document.getElementById('month4').value=month;
document.getElementById('year4').value=year;
}

function fillDate5()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day5').value=day;
document.getElementById('month5').value=month;
document.getElementById('year5').value=year;
}

</script>



        <center>
          <div class="innerbodyheadbg">Today’s Workout</div>
        </center>
        <span class="bodyText">        <br />
        </span>
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>

            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;"><span class="bodyText">Here's the layout for the week. 











</span><a href="#scrollDown" class="readmoreLink">Scroll down</a><span class="bodyText"> to today's workout. If this turns out to be too easy or too hard, adjust your fitness level at </span><a href='../mygoals/' class="readmoreLink">My Goals</a><span class="innerbodyText2">. </span><span class="bodyText"><br />
                    <br />
              </span>




              <center>
                <table width="600" border="0" cellpadding="5" cellspacing="1" class="tableborder">



                  <tr>
                    <td width="153" align="left" valign="top" bgcolor="#f9f5f5" class="bodyText4">Monday</td>
                    <td width="418" align="left" valign="top" bgcolor="#f9f5f5" class="bodyText">-Previous Workout Unavailable<br /></p>

                    <p class="bodyText5"><br></td></p></td>
                  </tr>




                  <tr>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText4">Tuesday</td>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText">-Previous Workout Unavailable<br /></p>
                    <p class="bodyText5"><br></td></p></td>

                  </tr>






                  <tr>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText4">Wednesday</td>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText">-Previous Workout Unavailable<br /></p>
                    <p class="bodyText5"><br></td></p></td>

                  </tr>




                  <tr>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText4">Thursday</td>
                    <td align="left" valign="top" bgcolor="#f9f5f5"><p class="bodyText">

-Previous Workout Unavailable<br /></p>

                    <p class="bodyText5"><br></td></p></td>
                  </tr>


                  <tr>
                    <td align="left" valign="top" bgcolor="#fdd4d4" class="bodyText4">Friday</td>
                    <td align="left" valign="top" bgcolor="#fdd4d4"><p class="bodyText">-Squat Jacks (Reactive)<br />-Lateral Single Leg Hop with Stabilization (Reactive)<br />-Push Press (Resistance)<br />-Dips (with weight belt if necessary) (Resistance)<br />-Step Back Lunge (Resistance)<br />-Prone Cobra (Core)<br />-Side Elbow Stand Medial Leg Lift (Core)<br /></p>

                    <p class="bodyText5"><br></td></p></td>
                  </tr>


                  <tr>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText4">Saturday</td>
                    <td align="left" valign="top" bgcolor="#f9f5f5"><p class="bodyText">-Rest Day<br /></p>
                    <p class="bodyText5"><br></td></p></td>
                  </tr>


                  <tr>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText4">Sunday</td>
                    <td align="left" valign="top" bgcolor="#f9f5f5" class="bodyText">-Single Leg Transverse Box Hop Down with Stabilization (Balance)<br />-Single Leg Romanian Deadlift (Balance)<br />-Medial Single Leg Box Jump (Reactive)<br />-Incline Press, Dumbbell, Reverse Grip (Resistance)<br />-Machine Benchpress (Resistance)<br />-Hang Power Clean (Resistance)<br /></p>
                    <p class="bodyText5">Light Cardio</td></p></td>

                  </tr>
                </table>



                <br />


                <table width="600" border="0" cellpadding="15" cellspacing="1" class="tableborder">


                  <tr class="bodyText">

                    <td width="219" align="left" bgcolor="#F9F5F5" class="bodyText">Current Phase<br />
                    Days in Phase <br />
                    Day in week <br />
                    Phase Length </td>
                    <td width="238" align="left" bgcolor="#F9F5F5" class="bodyText"> <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher15', 'launcher', 'height=350','width=425')">
maximal strength</a><br />

                      1<br />
                      1<br />
                      3 weeks</td>
                  </tr>
                </table>


<span class="bodyText">This is your first time in this phase using our program.  Read below before you start...<br><br>

<b><a name='maxStrength'>Maximal Strength</a></b><br><br>The goal here is to lift as much weight as you can.  You will be trying to move the weight as fast as you can (although sometimes it won’t move that fast because its really heavy).  You want to choose a weight that you can get all the reps with, but err on the side of heavy.  Its better here to pick a weight that’s a touch heavy than too light.  Stay controlled and lift as heavy as you can!<br><br><br>

</span>




                <br />
                <br />









                <table width="600" border="0" cellpadding="5" cellspacing="1" class="tableborder">

                  <tr>
                    <td colspan="2" align="center" bgcolor="#c82733" class="bodyText"><strong class="bodyText7"><strong><a name='scrollDown'></a>Sets x Number of Reps of an Exercise</strong></td>

 

                  <tr>

                    <td colspan="2" align="left" bgcolor="#fdd4d4" class="bodyText4">Reactive (Rest for 45 seconds)</td>
                  </tr>


                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">2 x 8</td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher430', 'launcher', 'height=370, width=425').focus()">


Squat Jacks
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">2 x 8</td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher618', 'launcher', 'height=370, width=425').focus()">


Lateral Single Leg Hop with Stabilization
</a>

</td>
                  </tr>
 

                  <tr>
                    <td colspan="2" align="left" bgcolor="#fdd4d4" class="bodyText4">Resistance (Rest for 4 minutes)</td>
                  </tr>


                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">4 x 5</td>

                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher613', 'launcher', 'height=370, width=425').focus()">


Push Press
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">4 x 5</td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">

<a href="javascript:void(0)" onclick="window.open('../youtubelauncher83', 'launcher', 'height=370, width=425').focus()">


Dips (with weight belt if necessary)
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">4 x 5</td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher279', 'launcher', 'height=370, width=425').focus()">

Step Back Lunge
</a>
</td>
                  </tr>
 

                  <tr>
                    <td colspan="2" align="left" bgcolor="#fdd4d4" class="bodyText4">Core (Rest for 45 seconds)</td>
                  </tr>


                  <tr>

                    <td align="left" bgcolor="#eae9e9" class="bodyText">3 x 12</td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher614', 'launcher', 'height=370, width=425').focus()">


Prone Cobra
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">2 x 10</td>

                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher198', 'launcher', 'height=370, width=425').focus()">


Side Elbow Stand Medial Leg Lift
</a>
</td>
                  </tr>
 

                  <tr>
                    <td colspan="2" align="left" bgcolor="#fdd4d4" class="bodyText4">Flexibility </td>
                  </tr>


                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher339', 'launcher', 'height=370, width=425').focus()">


Lying Quad Stretch
</a>
</td>
                  </tr>

 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher471', 'launcher', 'height=370, width=425').focus()">


Knee Flops
</a>
</td>
                  </tr>
 



                  <tr>

                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher575', 'launcher', 'height=370, width=425').focus()">


Skin the Cat (rings)
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>

                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher316', 'launcher', 'height=370, width=425').focus()">


Tricep Stretch Behind Head
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">

<a href="javascript:void(0)" onclick="window.open('../youtubelauncher331', 'launcher', 'height=370, width=425').focus()">


Seated Hip-Glute Stretch
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher185', 'launcher', 'height=370, width=425').focus()">

Trunk Twist
</a>
</td>
                  </tr>
 



                  <tr>
                    <td align="left" bgcolor="#eae9e9" class="bodyText">1 x </td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<a href="javascript:void(0)" onclick="window.open('../youtubelauncher326', 'launcher', 'height=370, width=425').focus()">


Seated Groin Stretch

</a>
</td>
                  </tr>
 

                  <tr>
                    <td colspan="2" align="center" bgcolor="#000000" class="bodyText7">Try and complete all sets with a relative <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">


tempo</a> of 0-0-0 seconds.</strong></td>
                  </tr>

                </table>
                <br />
                <br />






                <br />
              </center>
            </td>

          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table>
        <br />
        <span class="bodyText">        </span>
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">

          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td align="center" valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;">


<span class="innerbodyText3"><a href='../sampleprint/'>Print Friendly Version</a><br />
              <img src="../site_media/line2.gif" width="550" height="2" style="margin-top:10px;" /><br />

              <br />
              <br />

<form action="../emailworkout/" method="POST" style="display: inline;">
<input type='hidden' name='year' id='year2' value='0'>
<input type='hidden' name='day' id='day2' value='0'>
<input type='hidden' name='month' id='month2' value='0'>
<script type="text/javascript">
fillDate2();
</script> 


              </span><strong><span class="bodyText">Email Address</span></strong><span class="innerbodyText3">
<input name="email" type="text" id="textfield" size="50" />
              </span><span class="bodyText"><br />
            <br />


<input type="image" name="Submit" src="../site_media/emailworkout.gif" width="157" height="47" border="0" style="display: inline;"/></form>
<form action="../todaysworkout/" method="POST" style="display: inline;">
<input type='hidden' name='offDay'>
<input type='hidden' name='year' id='year3' value='0'>
<input type='hidden' name='day' id='day3' value='0'>
<input type='hidden' name='month' id='month3' value='0'>
<script type="text/javascript">
fillDate3();
</script> 
<input type="image" name="Submit" src="../site_media/todayoffday.gif" width="180" height="47" border="0" style="display: inline;"/>
</form>



<br />
            <br />

              </span>
              <center>
              </center></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png"></td>
          </tr>
        </table>

        <center>
          <br />
          <br />
  <br />
        </center>


      </div>
      
    <div class="clear"></div>


</div>

	</div>
    <div class="footer"><div class="footerArea"><div class="bodybottomArea">

      </div>
      <div class="footerlinkArea"><a href="../home/" class="footerLink">Home</a><img alt="" src="../site_media/specer.gif" width="20" height="1" /><img alt="" src="../site_media/specer.gif" width="20" height="1" />|<img alt="" src="../site_media/specer.gif" width="20" height="1" /><a href="../logout/" class="footerLink">Sign Out</a><img alt="" src="../site_media/specer.gif" width="20" height="1" />|<img alt="" src="../site_media/specer.gif" width="20" height="1" /><a href="../tour/" class="footerLink">Take the Tour</a><img alt="" src="../site_media/specer.gif" width="20" height="1" />|<img alt="" src="../site_media/specer.gif" width="20" height="1" /><a href="../contact/" class="footerLink">Contact Us</a><br />

      © 2010 Oracle Fitness<img alt="" src="../site_media/specer.gif" width="7" height="1" />|<img alt="" src="../site_media/specer.gif" width="7" height="1" /><a href="http://www.quantumcloud.com/" target="_blank" class="designLink">web design company:</a> <span class="webText">Quantumcloud</span></div>
      
      </div></div>
  </div>
</body>
</html>

