<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript">
function facebook_onlogin()
{

}

</script>


<fb:login-button onlogin="facebook_onlogin();"></fb:login-button>

<script type="text/javascript">  FB.init("bc11070e702fa796baa1251f0b14670cE", "../xd_receiver"); </script>

While we can't claim to take the place of an actual person trainer, we can claim...
-Workout routines and plans built around your schedule
-Long term solution to achieving your fitness goals; you pay per month, not per hour
-Workouts scaled to your fitness level
-A mind that a personal trainer can't compete with - a processor and a database.  We don't need to carry around a notebook.
-Trusted service.  No need to research the credibility of the source of your training.  You can even evaluate the service for a full month before committing.
-11 different fitness goals to choose from to conform to your needs
-Training plans built around periodization
-Extensive database of over 400 exercises
-All exercises demonstrated by a group of young, successful, attractive gentlemen (so you're pretty much obligated to watch)

