
{% extends "iphoneskeleton.html" %}
{% block title %} | Today's Workout{% endblock %}



{% block content %}

<script type="text/javascript">
function fillDate()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day').value=day;
document.getElementById('month').value=month;
document.getElementById('year').value=year;




}
function fillDate2()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day2').value=day;
document.getElementById('month2').value=month;
document.getElementById('year2').value=year;
}


function fillDate3()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day3').value=day;
document.getElementById('month3').value=month;
document.getElementById('year3').value=year;
}

function fillDate4()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day4').value=day;
document.getElementById('month4').value=month;
document.getElementById('year4').value=year;
}

function fillDate5()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day5').value=day;
document.getElementById('month5').value=month;
document.getElementById('year5').value=year;
}



function clearAll()
{
  {% for iterator in todaysExercises %} 
    document.getElementById('fillContent{{iterator.exercise.id}}').innerHTML='';
    {% if iterator.superSet %}
      document.getElementById('fillContent{{iterator.superSet.exercise.id}}').innerHTML='';
    {% endif %}
  {% endfor %}
}
function showVid(intId, url)
{
  var inner="<br><a href='../removeexercise"+intId+"'><img src='../site_media/no.png'></a><br><iframe class='youtube-player' style='border-radius: 20px;' type='text/html' width='270' height='162' src='http://www.youtube.com/embed/"+url+"' frameborder='0'></iframe><br>";   
var findMe='fillContent'+intId;
    document.getElementById(findMe).innerHTML=inner;
}

</script>

{% if needTime %}


</script>
<form name='myForm' method='POST' action='.'>
<input type='hidden' name='year' id='year' value='0'>
<input type='hidden' name='day' id='day' value='0'>
<input type='hidden' name='month' id='month' value='0'>
</form>
<script type="text/javascript">
fillDate();

document.myForm.submit();
</script> 
{% endif %}


        <center>
          <div class="innerbodyheadbg">Today's Workout</div>
        </center>
        <span class="bodyText">        <br />
        </span>
        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top" background="../site_media/innercontentbg2.png" style="padding:10px 10px 0 10px; border-radius: 20px;"><span class="bodyText">
<br>










If this turns out to be too easy or too hard, adjust your fitness level at "My Goals"<span class="bodyText"><br />

              </span>




              <center>



                <br />


{% if firstTime %}
<span class="bodyText">This is your first time in this phase using our program.  Read below before you start...{% autoescape off %}<br><br>
{{firstTimeDescription}}
{% endautoescape %}
</span>
{% endif%}



                <br />
                <br />


{% if todaysWorkout.offDay %}


<span class="bodyText">Today is an off day.  <a name='scrollDown'></a>{{comicalStatement.statement}}.</span>
<br><br><br>
{% endif %}





{% if todaysExercises %}

                <table width="363" border="0" cellpadding="5" cellspacing="1" class="tableborder" style="border-radius: 20px;">

                  <tr>
                    <td colspan="2" align="center" bgcolor="#c82733" class="bodyText" style="border-top-right-radius: 20px; border-top-left-radius: 20px;"><strong class="bodyText7"><strong><a name='scrollDown'></a>Sets x Number of Reps of an Exercise</strong></td>

{% for iterator in todaysExercises %} 
{% if iterator.change %}
                  <tr>
                    <td colspan="2" align="left" bgcolor="#fdd4d4" class="bodyText4">{{iterator.exercise.workoutComponent.name}} {% if iterator.actualRest %}(Rest for {{iterator.actualRest}}){% endif %}{% ifequal myPhase.name 'muscle endurance' %}{% if iterator.superSet %} Use a <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">tempo</a> of {{iterator.tempo}} and superset at a <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">tempo</a> of {{iterator.superSet.tempo}}{% endif %}{% endifequal %}</td>
                  </tr>{% endif%}


                  <tr >
                    <td style="min-width: 60px;" align="left" bgcolor="#eae9e9" class="bodyText"><div style="font-size: 1.3em;">{{iterator.sets}} x {% if not iterator.exercise.timed %}{{iterator.reps}}{% endif %}</div></td>
                    <td align="left" bgcolor="#eae9e9" class="bodyText6">
<div style="font-size: 1.3em;">
{% if superuser %}
<a href="../editexercise{{iterator.exercise.id}}" target="_blank">

{% else %}

<!--<a style="font-size: 1.3em;" href="javascript:void(0)" onclick="window.open('../youtubelauncher{{iterator.exercise.id}}', 'launcher', 'height=370, width=425').focus()">
-->

<a style="font-size: 1.3em; line-height: 1.3;" href="javascript:void(0)" onclick="clearAll(); showVid('{{iterator.exercise.id}}', '{{iterator.exercise.url}}');">

{% endif %}


{{iterator.exercise.name}}
</a>
{% if iterator.superSet %}
superset with {% if not iterator.superSet.exercise.timed %}{{iterator.superSet.reps}}{% endif %} {% if superuser %}
<a style="font-size: 1.3em;" href="../editexercise{{iterator.superSet.exercise.id}}" target="_blank">
{% else %}
<!--
<a style="font-size: 1.3em;" href="javascript:void(0)" onclick="window.open('../youtubelauncher{{iterator.superSet.exercise.id}}', 'launcher', 'height=370, width=425').focus()">
-->
<a style="font-size: 1.3em; line-height: 1.3;" href="javascript:void(0)" onclick="clearAll(); showVid('{{iterator.superSet.exercise.id}}', '{{iterator.superSet.exercise.url}}');">
{% endif %}
{{iterator.superSet.exercise.name}}
</a>
{% endif %}


<div style="display: inline;" id='fillContent{{iterator.exercise.id}}'></div>
{% if iterator.superSet %}

<div style="display: inline;" id='fillContent{{iterator.superSet.exercise.id}}'></div>
{% endif %}

</td>
                  </tr>
{% endfor %} 

                  <tr>
                    <td colspan="2" align="center" bgcolor="#000000" class="bodyText7" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">Try and complete all sets with a relative <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">


tempo</a> of {{actualTempo}}.</strong></td>
                  </tr>
                </table>
                <br />
                <br />


{% endif%}
{% if todaysWorkout.cardio %}
                <table width="363" border="0" cellpadding="10" cellspacing="1" class="tableborder" style="border-radius: 20px;">
                  <tr>
                    <td align="left" bgcolor="#F9F5F5" class="bodyText" style="border-radius: 15px;">{% autoescape off %}{{todaysWorkout.cardio}}{% endautoescape %}</td>
                  </tr>
                </table>
{% endif %}


                <br />
              </center>
            </td>
          </tr>
        </table>
        <br />
        <span class="bodyText">        </span>
        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">

          <tr>
            <td style="border-radius: 20px;" align="center" valign="top" background="../site_media/innercontentbg2.png" style="padding:10px 10px 0 10px;">

{% if not todaysWorkout.offDay %}
<span class="innerbodyText3"><br><a href='../printfriendly'>Print Friendly Version</a><br />
              <img src="../site_media/line2.gif" width="332" height="2" style="margin-top:10px;" /><br />
              <br />
              <br />

<form action="../emailworkout/" method="POST" style="display: inline;">
<input type='hidden' name='year' id='year2' value='0'>
<input type='hidden' name='day' id='day2' value='0'>
<input type='hidden' name='month' id='month2' value='0'>
<script type="text/javascript">
fillDate2();



</script> 


              </span><strong><span class="bodyText">Email Address</span></strong><span class="innerbodyText3">
<input name="email" type="text" id="textfield" size="50" />
              </span><span class="bodyText"><br />
            <br />


<input type="image" name="Submit" src="../site_media/emailworkout.gif" width="157" height="47" border="0" style="display: inline;"/></form>
<form action="../todaysworkout/" method="POST" style="display: inline;">
<input type='hidden' name='offDay'>
<input type='hidden' name='year' id='year3' value='0'>
<input type='hidden' name='day' id='day3' value='0'>
<input type='hidden' name='month' id='month3' value='0'>
<script type="text/javascript">
fillDate3();
</script> 
<input type="image" name="Submit" src="../site_media/todayoffday.gif" width="180" height="47" border="0" style="display: inline;"/>
</form>
{% endif %}
{% if missedYesterdayButton %}
<form action="../todaysworkout/" method="POST" style="display: inline;">
<input type='hidden' name='missed'>
<input type='hidden' name='year' id='year5' value='0'>
<input type='hidden' name='day' id='day5' value='0'>
<input type='hidden' name='month' id='month5' value='0'>
<script type="text/javascript">
fillDate5();
</script> 
<input type="image" name="Submit" src="../site_media/yesterdayworkout.gif" width="223" height="47" border="0" style="display: inline;"/></form>{% endif %}

<br />
            <br />
              </span>
              <center>
              </center></td>
          </tr>
        </table>

        <center>
          <br />
          <br />
  <br />
        </center>

{% if todaysWorkout.offDay %}
<br><br><br>
<br><br>{% endif %}
{% endblock %}


