
{% extends "skeleton.html" %}
{% block title %}Today's Workout{% endblock %}



{% block content %}
<script type="text/javascript">
function fillDate()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day').value=day;
document.getElementById('month').value=month;
document.getElementById('year').value=year;




}
function fillDate2()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day2').value=day;
document.getElementById('month2').value=month;
document.getElementById('year2').value=year;
}


function fillDate3()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day3').value=day;
document.getElementById('month3').value=month;
document.getElementById('year3').value=year;
}

function fillDate4()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day4').value=day;
document.getElementById('month4').value=month;
document.getElementById('year4').value=year;
}

function fillDate5()
{
var now = new Date();

var day = now.getDate();
var month=now.getMonth()+1;
var year = now.getFullYear()

document.getElementById('day5').value=day;
document.getElementById('month5').value=month;
document.getElementById('year5').value=year;
}



function clearAll()
{
  {% for iterator in todaysExercises %}
    document.getElementById('fillContent{{iterator.exercise.id}}').innerHTML='';
    {% if iterator.superSet %}
      document.getElementById('fillContent{{iterator.superSet.exercise.id}}').innerHTML='';
    {% endif %}
  {% endfor %}
}
function showVid(intId, url)
{
  var inner="<br><a href='../removeexercise"+intId+"'><img src='../site_media/no.png'></a><br><iframe class='youtube-player' style='border-radius: 20px;' type='text/html' width='500' height='300' src='http://www.youtube.com/embed/"+url+"' frameborder='0'></iframe><br>";
//var findMe='fillContent'+intId;
var findMe='fillContentTop';
    document.getElementById(findMe).innerHTML=inner;
}

</script>

{% if needTime %}


<form name='myForm' method='POST' action='.'>
<input type='hidden' name='year' id='year' value='0'>
<input type='hidden' name='day' id='day' value='0'>
<input type='hidden' name='month' id='month' value='0'>
</form>
<script type="text/javascript">
fillDate();

document.myForm.submit();
</script>
{% endif %}
If this turns out to be too easy or too hard, adjust your fitness level at <a href="../mygoals">My Goals</a><br><br>

{% if firstTime %}
<p>This is your first time in this phase using our program.  Read below before you start...{% autoescape off %}<br><br>
{{firstTimeDescription}}
{% endautoescape %}
</p>
{% endif%}

{% if todaysWorkout.offDay %}

Today is an off day.  <a name='scrollDown'></a>{{comicalStatement.statement}}.
{% endif %}

{% if todaysExercises %}

<strong style="text-decoration: underline;">Sets x Number of Reps of an Exercise</strong><br>
<br>
<div style="display: inline;" id='fillContentTop'></div>
<table border=0>

{% for iterator in todaysExercises %}
{% if iterator.change %}
                  <tr>
                    <td><strong>{{iterator.exercise.workoutComponent.name}}</strong> {% if iterator.actualRest %}(Rest for {{iterator.actualRest}}){% endif %}{% ifequal myPhase.name 'muscle endurance' %}{% if iterator.superSet %} Use a <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">tempo</a> of {{iterator.tempo}} and superset at a <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">tempo</a> of {{iterator.superSet.tempo}}{% endif %}{% endifequal %}</td>
                  </tr>{% endif%}


                  <tr ><td>
<table border=0>

                    <td style="min-width: 60px;" align="left" ><div style="font-size: 13px;">{{iterator.sets}} x {% if not iterator.exercise.timed %}{{iterator.reps}}{% endif %}</div></td>
                    <td align="left">
<div style="font-size: 13px;">
{% if superuser %}
<a href="../editexercise{{iterator.exercise.id}}" target="_blank">

{% else %}

<!--<a style="font-size: 1.3em;" href="javascript:void(0)" onclick="window.open('../youtubelauncher{{iterator.exercise.id}}', 'launcher', 'height=370, width=425').focus()">
-->

<a  href="javascript:void(0)" onclick="clearAll(); showVid('{{iterator.exercise.id}}', '{{iterator.exercise.url}}');">

{% endif %}


{{iterator.exercise.name}}
</a>
{% if iterator.superSet %}
superset with {% if not iterator.superSet.exercise.timed %}{{iterator.superSet.reps}}{% endif %} {% if superuser %}
<a href="../editexercise{{iterator.superSet.exercise.id}}" target="_blank">
{% else %}
<!--
<a style="font-size: 1.3em;" href="javascript:void(0)" onclick="window.open('../youtubelauncher{{iterator.superSet.exercise.id}}', 'launcher', 'height=370, width=425').focus()">
-->
<a style="font-size: 13px;" href="javascript:void(0)" onclick="clearAll(); showVid('{{iterator.superSet.exercise.id}}', '{{iterator.superSet.exercise.url}}');">
{% endif %}
{{iterator.superSet.exercise.name}}
</a>
{% endif %}


<div style="display: inline;" id='fillContent{{iterator.exercise.id}}'></div>
{% if iterator.superSet %}

<div style="display: inline;" id='fillContent{{iterator.superSet.exercise.id}}'></div>
{% endif %}

</td>
</tr></table></td>
                  </tr>







{% endfor %}
</table>
                    Try and complete all sets with a relative <a href="javascript:void(0)" onclick="window.open('../descriptionlauncher17', 'Tempo', 'height=350','width=425').focus()">


tempo</a> of {{actualTempo}}.</strong>


{% endif%}
<br>
{% if todaysWorkout.cardio %}
<div style="margin: 30px; font-size: 12px;">{% autoescape off %}{{todaysWorkout.cardio}}{% endautoescape %}</div>
{% endif %}

<br>
        <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">

          <tr>
<td>
{% if not todaysWorkout.offDay %}
Share this workout <br/>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://workoutgenerator.net/shareworkout{{todaysWorkout.id}}" data-text="Today I completed this workout from Workout Generator DOT net" data-via="W_Generator" data-size="large" data-related="W_Generator">Share This Workout on Twitter!</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<br>

<div class="fb_share">
    <a name="fb_share" type="box_count" share_url="http://workoutgenerator.net/shareworkout{{todaysWorkout.id}}"
      href="http://www.facebook.com/sharer.php">Share</a>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>
<br/>
<br/>
<br/>
<br/>
<a href='../printfriendly'>
<div class="buttonPrint" ></div>
</a>
<form action="../emailworkout/" method="POST" style="display: inline;">
<input type='hidden' name='year' id='year2' value='0'>
<input type='hidden' name='day' id='day2' value='0'>
<input type='hidden' name='month' id='month2' value='0'>
<script type="text/javascript">
fillDate2();

</script>

              <strong>Email Address</strong>
<input name="email" type="text" id="textfield" size="50" />


<input type="submit" class="buttonEmail" name="Submit" border="0" style="display: inline;" value=""/></form>
<form action="../todaysworkout/" method="POST" style="display: inline;">
<input type='hidden' name='offDay'>
<input type='hidden' name='year' id='year3' value='0'>
<input type='hidden' name='day' id='day3' value='0'>
<input type='hidden' name='month' id='month3' value='0'>
<script type="text/javascript">
fillDate3();
</script>
<input type="submit" name="Submit" class="buttonOff" border="0" style="display: inline;" value=""/>
</form>
{% endif %}
{% if missedYesterdayButton %}
<form action="../todaysworkout/" method="POST" style="display: inline;">
<input type='hidden' name='missed'>
<input type='hidden' name='year' id='year5' value='0'>
<input type='hidden' name='day' id='day5' value='0'>
<input type='hidden' name='month' id='month5' value='0'>
<script type="text/javascript">
fillDate5();
</script>
<input type="submit" class="buttonYesterday" name="Submit" border="0" style="display: inline;" value=""/></form>
{% endif %}
<a href='../printentireweek'>
<div class="buttonPrintEntireWeek" ></div>
</a>
              </td>
          </tr>
        </table>

{% if todaysWorkout.offDay %}
<br><br><br>
<br><br>
{% endif %}
{% endblock %}

{% block sidebar %}
<table>
{% for iterator in phases %}
<tr class="smallText"
{% ifequal iterator.name myPhase.name %}
style="background-color: #73a32b; color: #000000;"
{% endifequal %}
>
<td>
<center><h2
{% ifequal iterator.name myPhase.name %}  style="color: #000000;" {% endifequal %}
>

{{iterator.name}}</h2>

{% ifequal iterator.name myPhase.name %}
({{userInfo.phaseLength}} weeks)
{% endifequal %}

</center>
</td>
{% endfor %}
</tr>



<tr class="smallText"

{% ifequal weekday 0 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Monday<br />
</strong>
</td></tr>

<tr class="smallerText"

{% ifequal weekday 0 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.0%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio0 %}{{weekDictionary.cardioLevel0}} Cardio {% endif %}
</td></tr>

<tr class="smallText"

{% ifequal weekday 1 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Tuesday<br />
</strong>
</td></tr>

<tr class="smallerText"

{% ifequal weekday 1 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.1%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio1 %}{{weekDictionary.cardioLevel1}} Cardio {% endif %}
</td></tr>

<tr class="smallText"

{% ifequal weekday 2 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Wednesday<br />
</strong>
<tr class="smallerText"

{% ifequal weekday 2 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.2%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio2 %}{{weekDictionary.cardioLevel2}} Cardio {% endif %}
</td></tr>

<tr class="smallText"

{% ifequal weekday 3 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Thursday<br />
</strong>
<tr class="smallerText"

{% ifequal weekday 3 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.3%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio3 %}{{weekDictionary.cardioLevel3}} Cardio {% endif %}
</td></tr>

<tr class="smallText"

{% ifequal weekday 4 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Friday<br />
</strong>


<tr class="smallerText"

{% ifequal weekday 4 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.4%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio4 %}{{weekDictionary.cardioLevel4}} Cardio {% endif %}
</td></tr>

<tr class="smallText"

{% ifequal weekday 5 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Saturday<br />
</strong>

<tr class="smallerText"

{% ifequal weekday 5 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.5%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio5 %}{{weekDictionary.cardioLevel5}} Cardio {% endif %}
</td></tr>

<tr class="smallText"

{% ifequal weekday 6 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
<strong>
Sunday<br />
</strong>
<tr class="smallerText"

{% ifequal weekday 6 %}style="background-color: #73a32b; color: #000000"{% endifequal %}
><td>
{% for iterator in weekDictionary.6%}-{{iterator.exercise.name}}<br />{% endfor %}
{% if weekDictionary.cardio6 %}{{weekDictionary.cardioLevel6}} Cardio {% endif %}
</td></tr>
</table>
{% endblock %}
