{% extends "skeleton.html" %}{% block content %}

{% if userInfo.goal %}

        <center>
          <div class="innerbodyheadbg">My Goal</div>
        </center>
        <span class="bodyText">        <br />
        </span>
        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;"><span class="innerbodyText">{{userInfo.goal.name}}</span><br />











{% if not userInfo.goalDate %}
                <span class="bodyText">Getting in shape for a particular date? Annotate it here and let the countdown begin! It's pretty much the coolest feature of the site..<br />
{% else %}
<span class="bodyText">You have <b>{{daysRemaining}}</b> days remaining until {{userInfo.goalText}}!  You can also change your mind about the particular upcoming special event below...
{% endif %}

                    <br />
              </span>
              <center>
			  <form action='../home/' method='POST'>
                      <span class="innerbodyText2">On</span><img alt="" src="../site_media/specer.gif" width="10" height="1" />
                <select name='month'>
<option value='1' {%ifequal currentMonth 1 %}selected{% endifequal %}>January</option>
<option value='2' {%ifequal currentMonth 2 %}selected{% endifequal %}>February</option>
<option value='3' {%ifequal currentMonth 3 %}selected{% endifequal %}>March</option>
<option value='4' {%ifequal currentMonth 4 %}selected{% endifequal %}>April</option>
<option value='5' {%ifequal currentMonth 5 %}selected{% endifequal %}>May</option>
<option value='6' {%ifequal currentMonth 6 %}selected{% endifequal %}>June</option>
<option value='7' {%ifequal currentMonth 7 %}selected{% endifequal %}>July</option>
<option value='8' {%ifequal currentMonth 8 %}selected{% endifequal %}>August</option>
<option value='9' {%ifequal currentMonth 9 %}selected{% endifequal %}>September</option>
<option value='10' {%ifequal currentMonth 10 %}selected{% endifequal %}>October</option>
<option value='11' {%ifequal currentMonth 11 %}selected{% endifequal %}>November</option>
<option value='12' {%ifequal currentMonth 12 %}selected{% endifequal %}>December</option>
</select>

<img alt="" src="../site_media/specer.gif" width="10" height="1" />
                    <select name='day'>
{% for iterator in allDays %}
<option value='{{iterator}}' {%ifequal currentDay iterator %}selected{% endifequal %}>{{iterator}}</option>
{% endfor %}
</select>

<img alt="" src="../site_media/specer.gif" width="10" height="1" /><select name='year'>
{% for iterator in allYears %}
<option value='{{iterator}}'>{{iterator}}</option>
{% endfor %}
</select>

<img alt="" src="../site_media/specer.gif" width="10" height="1" />
                    <input type='text' name='goalText'>
                    <span class="innerbodyText2">is going down!                    </span>
                    <br />
                    <br />
                    <input type="image" name="Submit" src="../site_media/markit.gif" />
              </form>



</center>
            </td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table>
        <span class="bodyText"><center><a href="../todaysworkout"><br />
          <img alt="" src="../site_media/workout.gif" width="219" height="38" border="0" /></a><br />
          <br />
        </center>
        </span>

        <span class="bodyText"><center>
{% else %}
<span class="bodyText">
You need to <a href='../mygoals/'>pick a goal</a>.
</span>
{% endif %}
        </center>
        </span>



        <table width="661" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="11" background="../site_media/innercontenthead.png"></td>
          </tr>
          <tr>
            <td valign="top" background="../site_media/innercontentbg.png" style="padding:15px 15px 0 25px;">

{% for iterator in relevantArticles%}
<span class="innerbodyText3">{{iterator.title}}</span><span class="bodyText3"> by {{iterator.author}}
              <img alt="" src="../site_media/line.gif" width="605" height="2"/>            </span><br />
              <span class="bodyText">{{iterator.body}}...<a href="{{iterator.url}}" class="readmoreLink" target='_blank'><br>Read More..</a><br />
              <br />
              <br />
{% endfor %}






              <img alt="" src="../site_media/line2.gif" width="603" height="2" />{% comment %}<div align="right"><a href="#" class="readmoreLink">Click Here for  More >></a><img src="../site_media/specer.gif" width="14" height="1" /></div>{% endcomment %}
              </span>

              <center>
              </center></td>
          </tr>
          <tr>
            <td height="18" background="../site_media/innercontentbottom.png">&nbsp;</td>
          </tr>
        </table>
        <br />
            <center>
             <span class="innerbodyText4"> If you really want to give up on your dreams, we understand...</span><br />
             <br />
{% ifequal currentUser.payment 'paypal' %}<A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=T5AH3YDH68PGA">{%else%}<A HREF="../cancelsubscription">{%endifequal%}
             <img alt="" src="../site_media/unsubcribe.gif" width="91" height="21" border="0" /></a><br />
             <br />
<br />
            </center>
{% endblock %}
