{% extends "skeleton.html" %}
{% block title %}Weight Lifting{% endblock %}



{% block content %}

<span class="bodyText">

So if you've never lifted weights before, here's the rundown:
<ul>
<li>Strength is determined by the cross-sectional area of your muscles and the frequency at which your body can activate its motor nerves. This means that you can get stronger by either building muscle mass and/or training your nervous system.  Generally its best to mix both types in order to elicit the most effective and continuous adaptation from -your body - using this program you’ll get both.</li><br>
<br><li>Doing the same thing over and over creates plateaus.  You and I both don’t like plateau’s - that’s why “muscle confusion” is necessary and we’ll keep changing things up for you.</li><br>
<br>
<li>The guys in the magazines are on steroids.  Get over it.</li><br>
<br>
<li>We say the above because for dudes, you will not become a monster without years of training and continuous steroid use. For chicks, don't be afraid of lifting. Guys naturally have 10 times more testosterone in their bodies than you do and usually are trying to bulk up. You will not bulk up like a guy even if you tried (female bodybuilders on steroids created this misconception).  The hormonal differences and genetic predispositions for muscle gain (where and how much) between the sexes is what’ll make you  ladies “toned” and not bulky - unless you take steroids.</li><br>

<br><li>There is no such thing as building muscle for "tone." Muscle can either grow or shrink, it won't become more defined in itself. How “toned” you are is determined by your body fat percentage.  Of course though, the bigger your muscle is, the easier it will be to see through your fat and the less you’ll have to burn.  On the plus side of that, the harder you work to build muscles, you’ll not only be burning more calories doing the work, but the larger muscles themselves will be burning more calories at all times. </li><br>
<br>
<li>For the women, typically in the first couple weeks you weight train for the first time, your body stores more glycogen than usual in order to compensate for the new stress.  You might feel swollen or think you look bulky during this time.  If you stay with the lifting, your body will adapt and your levels will not only return to balance, but you’ll look a lot better than when you started.  Trust us, we’ve seen this many, many times.</li><br>
<br>
<li>The most effective way to losing fat is to accumulate muscle because muscle is the furnace in your body that burns fat</li><br>
<br><li>Supplements do not have to be proven effective in order to be marketed.  They have to be proven dangerous in order to be taken OFF the market.  Research what you buy and determine whether or not it is really cost effective.</li><br>
<br>
<li>You’ll be amazed what happens when you consistently eat right and work out.</li><br>
<br><li>Muscle grows when you rest.  Recuperation is an important aspect of any training program.</li><br>
<br><li>Your body takes time to adapt and change, results come with that time.  If you want overnight gimmicks and results, you live in a false reality and will be extremely disappointed, extremely fast.  Like most everything else in life, it takes time and hard work to get what you want here.</li><br>
<br><li>Building muscle is a long process.  Consistency will be the deciding factor to your success.</li><br>
<br><li>Well...that's everything.  Go do what the application says now and lift weights.</li><br>


</ul>



</span>
{% endblock %}


