<a href="javascript:void(0)" onclick="window.opener.open('../removeexercise{{myExercise.id}}')">Don't give me this exercise again</a><br><br>
{% if video %}
<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/{{url}}&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{{url}}&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object><br>
{% else %}
Sorry, this video is not yet available.
{% endif %}






