<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Ease | Premium HTML Portfolio Theme</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/ico-moon.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/swipebox.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">

</head>
<body class="home">

	<!-- Header
	================================================== -->
	<header>
		<div class="container">
			<div class="logo">
				<a href="#"><img src="img/logo.png" alt=""></a>
			</div>
			<div class="right">
				<div class="social-top">
					<ul>
						<li><a href="#" class="icon-facebook"></a></li>
						<li><a href="#" class="icon-twitter"></a></li>
						<li><a href="#" class="icon-google-plus"></a></li>
						<li><a href="#" class="icon-feed-2"></a></li>
						<li><a href="#" class="icon-vimeo"></a></li>
						<li><a href="#" class="icon-flickr"></a></li>
						<li><a href="#" class="icon-pinterest"></a></li>
					</ul>
				</div>
				<nav class="main-nav">
			  		<ul class="nav-bar" id="nav-bar">
			  			<li class="active has-flyout">
			  				<a href="index.html">Home</a>
			  			</li>
			  			<li class="has-flyout">
			  				<a href="#">Pages</a>
			      		<ul class="flyout">
			      			<li><a href="about.html">About</a></li>
			      			<li><a href="elements.html">Elements</a></li>
			      			<li><a href="full-width.html">Full Width/Columns</a></li>
			      		</ul>
			  			</li>
			  			<li class="has-flyout">
			  				<a href="#">Portfolio</a>
			      		<ul class="flyout">
			      			<li><a href="portfolio-3.html">Portfolio 3</a></li>
			      			<li><a href="portfolio-4.html">Portfolio 4</a></li>
			      			<li><a href="portfolio-item.html">Portfolio Item</a></li>
			      		</ul>
							</li>
			  			<li class="has-flyout">
			  				<a href="blog.html">Blog</a>
			      		<ul class="flyout">
			      			<li><a href="single-post.html">Single Post</a></li>
			      			<li><a href="single-post-video.html">Single Video Post</a></li>
			      		</ul>
							</li>
			  			<li><a href="contact.html">Contact</a></li>
			  		</ul>
				</nav>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<!-- Body
	================================================== -->
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="img/ph-slide.jpg" alt="">
				<div class="flex-caption">
					Responsive and Customizable
				</div>
				<div class="flex-caption-second">
					Pellentesque arcu neque, convallis aliquet venenatis a, auctor sit amet lacus. Donec ultrices rutrum sem sed facilisis. Curabitur vitae viverra leo. Nullam pulvinar dictum nibh eu mollis. Quisque aliquam felis ac risus imperdiet viverra bibendum nunc accumsan.
				</div>
			</li>
			<li>
				<img src="img/ph-slide.jpg" alt="">
				<div class="flex-caption">
					Show off your creativity
				</div>
				<div class="flex-caption-second">
					Pellentesque arcu neque, convallis aliquet venenatis a, auctor sit amet lacus. Donec ultrices rutrum sem sed facilisis. Curabitur vitae viverra leo. Nullam pulvinar dictum nibh eu mollis. Quisque aliquam felis ac risus imperdiet viverra bibendum nunc accumsan.
				</div>
			</li>
			<li>
				<img src="img/ph-slide.jpg" alt="">
				<div class="flex-caption">
					Show off your creativity
				</div>
				<div class="flex-caption-second">
					Pellentesque arcu neque, convallis aliquet venenatis a, auctor sit amet lacus. Donec ultrices rutrum sem sed facilisis. Curabitur vitae viverra leo. Nullam pulvinar dictum nibh eu mollis. Quisque aliquam felis ac risus imperdiet viverra bibendum nunc accumsan.
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="wrap">
		<div class="container">
			<div class="sixteen columns">
				<h3 class="title">Our Powers</h3>
			</div>
			<div class="clearfix"></div>
			<div class="services">
				<div class="four columns">
					<div class="icon">
						<i class="icon-screen"></i>
					</div>
					<h5>Web Solutions</h5>
					<p>Vestibulum molestie libero quis est venenatis porta. Proin nunc sem, bibendum vitae euismod eu, vulputate non ante. Vestibulum ante ipsum primis.</p>
				</div>
				<div class="four columns">
					<div class="icon">
						<i class="icon-stack"></i>
					</div>
					<h5>TLC</h5>
					<p>Vestibulum molestie libero quis est venenatis porta. Proin nunc sem, bibendum vitae euismod eu, vulputate non ante. Vestibulum ante ipsum primis.</p>
				</div>
				<div class="four columns">
					<div class="icon">
						<i class="icon-laptop"></i>
					</div>
					<h5>Portability</h5>
					<p>Vestibulum molestie libero quis est venenatis porta. Proin nunc sem, bibendum vitae euismod eu, vulputate non ante. Vestibulum ante ipsum primis.</p>
				</div>
				<div class="four columns">
					<div class="icon">
						<i class="icon-camera"></i>
					</div>
					<h5>Creativity</h5>
					<p>Vestibulum molestie libero quis est venenatis porta. Proin nunc sem, bibendum vitae euismod eu, vulputate non ante. Vestibulum ante ipsum primis.</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="sixteen columns">
				<h3 class="title">Recent Works</h3>
			</div>
			<div class="clearfix"></div>
			<div class="portfolio">
				<div class="four columns">
					<div class="item">
						<div class="image-container">
							<div class="mask"></div>
							<img src="img/ph-reg.jpg" alt="">
						</div>
						<a href="img/ph-big.jpg" class="zoom box" title="Bridged"><i class="icon-camera"></i></a>
						<a href="#" class="link"><i class="icon-link"></i></a>
						<div class="item-title"><a href="#">Bridged</a></div>
						<div class="cats"><a href="#">web</a>, <a href="#">digital</a></div>
					</div>
				</div>
				<div class="four columns">
					<div class="item">
						<div class="image-container">
							<div class="mask"></div>
							<img src="img/ph-reg.jpg" alt="">
						</div>
						<a href="img/ph-big.jpg" class="zoom box" title="The Room"><i class="icon-camera"></i></a>
						<a href="#" class="link"><i class="icon-link"></i></a>
						<div class="item-title"><a href="#">The Room</a></div>
						<div class="cats"><a href="#">web</a>, <a href="#">digital</a></div>
					</div>
				</div>
				<div class="four columns">
					<div class="item">
						<div class="image-container">
							<div class="mask"></div>
							<img src="img/ph-reg.jpg" alt="">
						</div>
						<a href="img/ph-big.jpg" class="zoom box" title="Alley Cat"><i class="icon-camera"></i></a>
						<a href="#" class="link"><i class="icon-link"></i></a>
						<div class="item-title"><a href="#">Alley Cat</a></div>
						<div class="cats"><a href="#">web</a>, <a href="#">digital</a></div>
					</div>
				</div>
				<div class="four columns">
					<div class="item">
						<div class="image-container">
							<div class="mask"></div>
							<img src="img/ph-reg.jpg" alt="">
						</div>
						<a href="img/ph-big.jpg" class="zoom box" title="Autumn Brick"><i class="icon-camera"></i></a>
						<a href="#" class="link"><i class="icon-link"></i></a>
						<div class="item-title"><a href="#">Autumn Brick</a></div>
						<div class="cats"><a href="#">web</a>, <a href="#">digital</a></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<!-- Footer
	================================================== -->
	<footer>
		<div class="cta">
			<div class="container">
				<div class="sixteen columns">
					<span>Like what you see? Buy this theme now!</span>
					<a href="#" class="button large alt">Buy now!</a>
				</div>
			</div>
		</div>
		<div class="social">
			<ul>
				<li><a href="#" class="icon-facebook"></a></li>
				<li><a href="#" class="icon-twitter"></a></li>
				<li><a href="#" class="icon-pinterest"></a></li>
				<li><a href="#" class="icon-linkedin"></a></li>
			</ul>
		</div>
		<div class="copy">
			Copyright &copy; 2013 Ease
		</div>
		<div class="clearfix"></div>
	</footer>
	
	<!-- Javascript/jQuery
	================================================== -->
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/selectnav.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.swipebox.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jflickrfeed.min.js"></script>
	<script src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="js/gmap3.min.js"></script>
	<script src="js/scripts.js"></script>


<!-- End Document
================================================== -->
</body>
</html>