<script type="text/html" id="main_copy">
<div class="copy">
    <h1>Why You Should Incorporate the One Rep Max Calculator into Your Training Program</h1>
    <p>
    Sure, you could actually just go to the gym and attempt a one rep max instead of hanging out on the internet and uploading videos of yourself, but there are a few problems there:
    <ul>
        <li>You're probably going to need a spotter in order to do this</li>
        <li>Your whole workout is going to revolve around warming up for the said one rep max</li>
        <li>Pick too high of a weight and you'll fail and then be that much more exhausted for your next set
        <ul>
        <li>Plus, you'll look stupid</li>
        </ul></li>
        <li>Pick too low of a weight and in the back of your mind you'll know that you could've done more</li>
        <li>Performing a one rep max can be dangerous</li>
        <li>You're going to find a hard time finding anyone that recommends performing a one rep max with regular frequency</li>
    </ul>
    </p>
    <p>With all that said, <strong>knowing what your one rep max is can be incredibly valuable</strong>.
    Namely:
        <ul>
            <li>Psychologically, an improvement in your one rep max can be a huge boost to your overall motivation</li>
            <li>A stagnant or declining one rep max can indicate that your program sucks</li>
            <li>Tracking your progress in general is important to refining and improving you training</li>
            <li>A legitimate training program will probably recommend weight and rep ranges based off of percentages of your one rep max</li>
        </ul>
    </p>

    <p>
    But there's more than just knowing what your one rep max is.  What if you could in essence perform a one rep max without the same costs associated (i.e. safer, no spotter required, less energy expended, etc)?
    <h2>Get Stronger Faster by Refining Your Training</h2>
    </p>
    <p>
    Let's say that you benchpress about once a week.  Then let's say you started your workout after a warm up with a single rep of a comfortable weight but treat the weight as though you are attempting a one rep max.  Your training partner films you with his or her phone, submits the video here, and when your workout is done you can take a look at how much force you actually generated.  Based on the results, <strong>you can see the effects of diet, sleep, and time of day that you're training</strong> on your workout.  You also didn't expend nearly the same amount of energy as required by a real one rep max because the rep was done much faster, and you didn't have to keep applying the same amount of force over a longer duration of time.  But if you <strong>consistently measure your progress</strong>, you'll have initiated a feedback loop that can become invaluable to your training efforts.
    </p>
    <h2>Optimize Your Form</h2>
    <p>
    There's a lot more that goes into benchpressing than just pressing upward with the bar.
        <ul>
            <li>Where are your feet placed?</li>
            <li>Where is your grip on the bar?</li>
            <li>How are you gripping the bar?</li>
            <li>How are your shoulder blades placed?</li>
            <li>Where are your elbows during the lift?</li>
            <li>How well are you controlling your breathing?</li>
        </ul>
    </p>

    <p>
    Optimizing your form can easily be compared to a science experiment.  But the essence of an experiment is that variables can be isolated and the process can be repeated.  This is impossible to do with a real one rep max, but again, if you can reduce the costs associated with performing one by lessening the energy output required on your part, you could invest some time in optimizing your form.  It generally takes years to optimize your form by yourself without a coach.
    </p>
    <h2>Impress the Ladies</h2>
    <p>
    Ok, first of all, you won't actually impress any ladies with your one rep max on bench.  More than likely, you'll just come across as an A-hole if you try to.
    </p>
    <p>But with that disclaimer out of the way, if you'd like to try and impress the ladies with your 1RM, this site is a great way to do it.  You can use comparitively light weight where you can maintain good form and not look stupid and all the whole spit out a number that demonstrates your true potential.
    </p>
</div>
</script>
