
{% load staticfiles %}

<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="button_area_upload">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
<a id="upload-video-button" style="margin-top: 20px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
        Upload a Video <i style="margin-left: 10px;" class="icon-film"></i></a>
    </div>
    <div class="three columns buttom"></div>


</script>

<script type="text/html" id="upload_modal_view">
<div class="bootstrap">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background: #323232;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload a Video</h4>
                </div>
                <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
                    <div class="row-fluid">
                        <div class="col-sm-6">
                            <p>Ensure that:</p>
                            <ul style="font-size: 14px;">
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is head on (barbell's angle in the image is 0)</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is stable</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is one continuous shot</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Don't use so much weight that the bar bends</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Use a weight where good form is maintained</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Standard Olympic Barbell</li>
        <li><i style="color: #0A0;" class="icon-checkmark"></i> Entire barbell should fit in the screen</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Barbell should be at least half the width of the screen</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <form action="." method="POST" enctype="multipart/form-data">
                                <input type="file" id="upfile" name="upfile" type="file" value="upload" style="visibility: hidden;" accept="video/*"/>
                                <p>
                                    <%= videoName %>
                                </p>
                                <a id="choose-file" style="font-size: 18px;" href="javascript:void(0);" class="button large alt <% if (videoUploaded) { %>cancel<% } %>">
                                    Choose File
                                </a>
                                <p id="uploading-text">
                                    Uploading...
                                </p>
                                <p id="error-area">
                                    <%= errorMessage %>
                                </p>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
                        Cancel
                    </a>
                    <a id="upload-video-button-final" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
                        Upload
                    </a>
                    <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/html" id="thankyou_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-12">
Thanks for your order!  It will take a while to process your video, so in the mean time, go lift weights and crush things. You'll get an email when you video is ready.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="close-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Close
        </a>
    </div>
</script>

<script type="text/html" id="order_summary_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Order Summary</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <span style="padding-left: 10px;">
                        Start
                    </span>
                    <input id="start-time" value="0:00" style="min-width: 80%; width: 80%; background-color: #3A3A3A;" type=text />
                </div>
                <div class="col-sm-6">
<span style="padding-left: 10px;">
                        Stop
                    </span>
                    <input id="stop-time" value="<%= videoMinutes %>:<%= videoSeconds %>" style="min-width: 80%; width: 80%; background-color: #3A3A3A;" type=text />
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    Total cost: <span id="dollar-cost" style="color: #080;"> $<%= dollarCost %></span>
                    <br/><br/>
                    <span>
                        Email Address to send final video:
<input type="text" id="email-input" name="email" style="background-color: #3A3A3A;" value="<%= emailValue %>"/>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <p>
                    <% if (thumbnailUrl) { %>
                        <img style="margin-top: 50px;" id='final-thumbnail' src="<%= thumbnailUrl %>" />
                    <% } %>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Cancel
        </a>
        <a id="finish-order" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
            Submit
        </a>
        <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
    </div>
</script>

<script type="text/html" id="contact_view">
    <div id="message-container" style="margin-top: 15px;">
        Return Email:<input id='return-email' type="text" style="width: 80%;">
<p id="email-error">Enter a valid Email address</p>
        Message: <textarea rows="5" cols="50" id="editable-message"></textarea>
    </div>
<a id="cancel-quandry" style="margin-top: 5px; font-size: 18px;" class="button large alt cancel" href="#">
    Close Form
</a>
<a id="submit-quandry" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
    Submit Quandary
</a>
<img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
</script>

<script type="text/html" id="account_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Account Settings</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-6">

<% if (purchaseFlow && videoCost > credits) { %>
Processing this video requires at least <span style="color: #B22;">$<%= videoCost %></span> credits in your account.<br/><br/>
                <% } %>

                Credits: <span style="color: #080;">$<%= credits %></span><br/><br/>
Email Address: <input id='settings-email' type='text' value='<%= email %>' style="width: 70%; margin-top: 10px; background-color: #3A3A3A;" />
                <p style="margin: 2% 0%;">
                    <%= error %>
                </p>
                <a id="update-email" style="margin: 2% 0%; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
                    Update Email
                </a>
            </div>
            <div class="col-sm-6">
                <% if (creditsAdded) { %>
<p style="font-size: 1.2em; margin: 20%;">
    Credits Added <i style="color: #0A0;" class="icon-checkmark"></i>
</p>
                <% } else { %>
                <a id="add-funds" style="margin: 20%; font-size: 18px;" href="javascript:void(0);" class="button large alt">
                    Add Credits
                </a>
                <% } %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="close-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Close
        </a>

        <% if (purchaseFlow && creditsAdded) { %>
            <a style="margin-top: 5px; font-size: 18px;" href="#!summary" class="button large alt">
                Continue
            </a>
        <% } %>

        <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="accounts-spinner" src="{% static 'img/spinner.gif' %}" />
    </div>
</script>

<script type="text/html" id="youtube_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel"><br/></h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="col-sm-12">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/<%= videoId %>?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</script>

<script type="text/html" id="orientation_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Video Orientation</h4>
    </div>
<div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-12">
                <center>
                    Rotate the video upright so we can begin processing.
                </center>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-4">
                <br/>
<center>
                <a href="javascript:void(0);" id="rotateLeft"><i style="margin-top: 60px; font-size: 1.5em;" class="icon-undo-2"></i></a>
</center>
            </div>

            <div class="col-sm-4" style="min-height: 200px;">
                <% if (thumbnailUrl) { %>
<img id='image-to-rotate' class="no-rotate" style="margin: auto; margin-top: 50px;" src="<%= thumbnailUrl %>" />
                <% } %>
            </div>
            <div class="col-sm-4">
                <br/>
<center>
                <a href="javascript:void(0);" id="rotateRight"><i style="margin-top: 60px; font-size: 1.5em;" class="icon-redo-2"></i></a>
</center>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id='orientation-continue' style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
            Continue
        </a>
    </div>
</script>

<script type="text/html" id="sign-up-view">
<div class="four columns" style="height: 10px;"></div>

<div class="six columns">
    <div>
<p>
Already have an account? Go <a href="#!login">Log In</a>
</p>
        <p style="width: 30%; display: inline-block;">E-Mail Address:</p>
        <input  style="width: 60%; display: inline-block;" type="text" class="email-input" />
        <br/>
        <p style="width: 30%; display: inline-block;">Password:</p>
        <input style="width: 60%; display: inline-block;" type="password" class="password-input" />
        <p class="error-area" style="margin-left: 30%; color: #8f0000;"></p>
        <a href="javascript:void(0);" class="button large rounded sign-up-continue" style="padding: 10px 20px; margin-left: 40%; margin-bottom: 20px;">Continue <i class="icon-arrow-right"></i></a>
        <img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
    </div>
</div>

<div class="four columns" style="height: 10px;"></div>
<div class="divider"></div>
<div class="five columns" style="height: 10px;"></div>
<div class="four columns">
    <center><h3>-OR-</h3></center>
    <a href="javascript: void(0);">
        <img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_signup.png' %}" alt="sign up with facebook">
    </a>
</div>
<div class="five columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="landing-view">

<div class="eight columns landing-button" style="min-height: 300px; float: right; padding-top: 70px;">

    <div class="one columns desktop-only" style="height: 10px;">
    </div>

    <div class="six columns">

        <p>
            <center>
                <h3>Stop Wasting Time at the Gym</h3>
                <a href="javascript:void(0);" class="button large rounded sign-up" style="padding: 20px 60px; margin-top: 20px;">Give WorkoutGenerator a Try</a>
            </center>
        </p>

        <p style="margin-top: 20px; margin-bottom: 0;">
            Get a two week free trial when you sign up.  Cancel at any time, no strings attached.  Check out our <a href="#!pricing">pricing</a> for more details.
        </p>
        <div style="margin-top: 70px;">
        <h3 style="line-height: 25px;" >Get the Benefits of a Trainer Without the Cost</h3>


            <ul class="circle">
                <li>Carefully developed long term schedule that encompasses weight lifting and cardio</li>
                <li>Backed by several thousand data points</li>
                <li>Video Demonstrations for every prescribed exercise</li>
                <li>Adapts to any schedule, equipment availability, and fitness level</li>
            </ul>
        </div>

    </div>

    <div class="two columns" style="height: 10px;">
    </div>
</div>

<div class="eight columns" style="float: right;">
    <img src="{% static 'img/monitor_screenshot.png' %}" alt="Screenshot" />

</div>


<div class="eight columns">
    <div class="lined-header">
        <h3><span>Learn</span></h3>
    </div>
    <div class="home-bullet">
    <p>
        Our app is simple enough to allow you to succeed by following instructions, but the real value is to help develop training habits that last a lifetime.
        Our exercise database is currently populated with 700+ exercises to offer plenty of variety and to offer even the most seasoned lifters with a few new ways to spur muscle growth.
    </p>
</div>
</div>

<div class="eight columns">
    <div class="lined-header">
        <h3><span>Destroy Comfort Zones</span></h3>
    </div>
    <div class="home-bullet">
    <p>
        The best training programs are undoubtedly the one that you didn't create.
        Muscle groups, exercises, rep ranges, rest, and cardio are all chosen without any prioritization from personal preference.
        Whether you're a beginner or an experienced lifter, you'll be pressed just enough to keep your body guessing and adapting to new stimuli.
    </p>
    </div>
</div>
<div class="eight columns">
    <div class="lined-header">
        <h3><span>Something for Everyone</span></h3>
    </div>
    <div class="home-bullet">
    <p>
        We're incredibly proud of the code our team has crafted, and the result is a finely-tuned system that's inherently flexible.
        As such, the system supports 11 different training goals which account for the incredible vast majority of gym-goers.
        Exercises, training volume, and cardio intensity all vary based on your fitness level and experience so you'll be able to get started with WorkoutGenerator regardless of where you stand now.
    </p>
    </div>
</div>
<div class="eight columns">
    <div class="lined-header">
    <h3><span>Get In Shape</span></h3>
    </div>
    <div class="home-bullet">
    <p>
        Above all, WorkoutGenerator's entire purpose is to help you progress through better and better fitness levels.
        While each available training goal will prioritize differently between muscle growth, fat loss, endurance, strength, power, and athleticism, you'll advance in each of these areas as you continue to work with us.
    </p>
    </div>
</div>
<div class="sixteen columns">
<a href="javascript:void(0);" class="button large rounded sign-up" style="padding: 20px 60px; margin: 20px auto; display: block; width: 250px;">Give WorkoutGenerator a Try</a>
<center>
<p>It's free to try.</p>
</center>
</div>
<div class="sixteen columns" style="margin-top: 30px;">
    <div class="lined-header">
        <h3><span>How it Works</span></h3>
    </div>
    <div class="tabs bottom ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
            <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true"><a href="javascript:void(0);" class="ui-tabs-anchor" role="presentation" tabindex="0" id="ui-id-1">Step 1: Pick a Goal</a></li>

            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false"><a href="javascript:void(0);" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Step 2: Define Your Schedule</a></li>

            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false"><a href="javascript:void(0);" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">Step 3: Input Your Gym Equipment</a></li>

            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-4" aria-labelledby="ui-id-4" aria-selected="false"><a href="javascript:void(0);" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">Step 4: Get Your Workouts</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-5" aria-labelledby="ui-id-5" aria-selected="false"><a href="javascript:void(0);" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5">Step 5: Go Lift</a></li>
        </ul>

        <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: none;">
            <h5>Pick a Goal</h5>
            <p>
                Different fitness goals require unique training methods.  A training program created for you will vary depending on your goal.  We can define programs based on any one of:
            </p>
            <ul>
                <li>
                    <i class="icon-check"></i> Maximizing Weight Loss
                </li>
                <li>
                    <i class="icon-check"></i> Maximizing Strength
                </li>
                <li>
                    <i class="icon-check"></i> Maximizing Muscle Gain
                </li>
                <li>
                    <i class="icon-check"></i> Creating an Aesthetic Physique
                </li>
                <li>
                    <i class="icon-check"></i> Developing Functional Strength
                </li>
                <li>
                    <i class="icon-check"></i> Staying Active
                </li>
                <li>
                    <i class="icon-check"></i> Cross-Training for Endurance Sports
                </li>
            </ul>
            <p style="margin-top: 10px;">
                And more...
            </p>
        </div>
        <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: block;">
        <h5>Define Your Schedule</h5>
            <p>
Pick which days you're avaiable during the week to work out.</p><p>Your frequency will determine the composition of your workouts, and the rest days will affect how muscle groups get selected.  </p><p>Training intensity will vary based on your training volume.</p><p>Whatever your schedule is, we can accomodate it and still create a well defined program.
            </p>
        </div>
        <div id="tabs-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
            <h5>Input Your Equipment</h5>
            <p>
    Exercises will only be prescribed based on your available equipment.</p><p>Whether you work out at a well-equipped gym or your garage with a bench and a barbell, you'll have no problem getting sufficient variety and effective exercises.
            </p>
        </div>
        <div id="tabs-4" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
            <h5>Get Your Workouts</h5>
            <p>
                Workouts are generated on a weekly basis.  You'll receive exact instructions with a well-defined schedule with example video footage of every exercise.  Over the course of several days you'll see a standard variance in muscle groups worked, but over the course of several weeks you'll see how the training guidance will change from week to week in cardio frequency and intensity, types of exercises prescribed, rep ranges, and supersets.</p>
            <p>
                At a high level your training will be broken down into phases that vary based on your initial goal.  Each phase has its own lower level purpose for your body to respond to.
            </p>
            <p>
                You can rest assured that the details of your training have been finely tuned. You can choose to comprehend the reasoning behind it or you can simply enjoy the variety of the workouts prescribed.
            </p>
        </div>
        <div id="tabs-5" aria-labelledby="ui-id-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
            <h5>Go Lift</h5>
            <p>
                We can only show you the door.  You have to walk through it.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</script>

<script type="text/html" id="confirm-view">
<div class="five columns" style="height: 1px;"></div>
<div class="six columns">
    <p style="font-size: 1.2em;">
        A confirmation E-Mail was sent to <span style="font-weight: bold;"><%= email %></span>.
    </p>
    <p style="font-size: 1.2em;">
        You'll need to check your E-Mail and verify your address before you can get any workouts.
    </p>
</div>
<div class="five columns" style="height: 1px;"></div>

<div class="six columns" style="height: 1px;"></div>
<div class="four columns">
<a href="#!goal" class="button large rounded sign-up-continue" style="margin-top: 20px; padding: 10px 20px;">Continue <i class="icon-arrow-right"></i></a>
</div>
<div class="six  columns" style="height: 1px;"></div>
</script>

<script type="text/html" id="goal-view">
<p>
<% for (var row = 0; row < goalMatrix.length; row++) { %>
    <div class="row">
        <% for (var col = 0; col < goalMatrix[row].length; col++) { %>
        <% var goal = goalMatrix[row][col] %>
        <div class="members" id="goal_<%= goal.id %>">
            <div class="one-third column">
                <div class="member-container">
                    <img src="<%= goal.image %> " title="<%= goal.title %>">
                    <div class="member-title">
                        <h4><%= goal.title %></h4>
                    </div>
                    <div class="clear"></div>
                    <p class="member-info">
                        <%= goal.description %>
                    </p>
                    <p class="member-info extra">
                        Start Phase: <%= goal.start_phase.title %><br/>
                        Cardio Type: <%= goal.cardio_type.title%>
                    </p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
<% } %>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
</p>
</script>

<script type="text/html" id="schedule-view">
<div class="five columns" style="height: 1px;"></div>
<div class="six columns">
<center>
    <h2>Adjust Schedule</h2>
</center>
    <blockquote class="no-quote">
<% var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
<% for (var i = 0; i < weekdays.length; i++) { %>
        <div class="weekday-row">
            <span class="weekday-container">
                <%= weekdays[i] %>
            </span>
<input type="checkbox" name="toggle-switch" checked="" id="isoweekday_<%= i %>">
        </div>
        <% } %>
    </blockquote>
    <blockquote class="no-quote">
        <span class="weekday-container">
        Minutes Per Day:
        </span>
<select style="height: 25px; width: 50px; display: inline-block;" class="minutes-per-day-select">
<% for (var minutes = 15; minutes <= 90; minutes += 5) { %>
<option value="<%= minutes %>"><%= minutes %></option>
            <% } %>
        </select>
    </blockquote>
    <div class="two columns" style="height: 20px; margin: 0;">
    </div>
    <div class="two columns" style="margin: 0;">
<a href="javascript:void(0);" class="button large rounded save" style="margin-top: 20px; padding: 10px 20px;">Save <i class="icon-save"></i></a>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
    </div>
</div>
<div class="five columns" style="height: 1px;"></div>
</script>

<script type="text/html" id="fitness-level-view">
<div class="five columns" style="height: 1px;">
</div>

<div class="six columns">
<p>
  Adjust the sliders to provide an assessment for your current fitness level and experience.  This will help to prescribe exercises for you.
</p>
    <blockquote class="no-quote" style="padding: 20px 10px">
        <div class="slider-wrapper">
            <h3>Fitness Level</h3>
            <input type="text" class="slider-fitness" />
        </div>
        <div class="slider-wrapper">
            <br/>
            <h3>Experience</h3>
            <input type="text" class="slider-experience" />
        </div>
    </blockquote>
    <blockquote class="no-quote" style="padding: 20px 10px">
        <div class="slider-wrapper">
<h3 style="display: inline-block; margin-right: 10px;">Age</h3>
            <select class="age-select" style="height: 25px; width: 50px; display: inline-block;">
            <% for (var age = 12; age <= 100; age++) { %>
            <option value="<%= age %>"><%= age %></option>
                        <% } %>
                    </select>
<br/>
<h3 style="display: inline-block; margin-right: 10px;">Gender</h3>
<input type="radio" name="gender" id="male" value="male" checked="checked"/>
<label style="display: inline-block;" for="male">Male</label>
<span style="width: 20px; height: 5px; display: inline-block;"></span>
<input type="radio" name="gender" id="female" value="female"/>
<label style="display: inline-block;" for="female">Female</label>
        </div>
    </blockquote>
    <div class="two columns" style="height: 20px; margin: 0;">
    </div>
    <div class="two columns" style="margin: 0;">
<a href="javascript:void(0);" class="button large rounded save" style="margin-top: 20px; padding: 10px 20px;">Save <i class="icon-save"></i></a>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
    </div>
</div>

<div class="five columns" style="height: 1px;">
</div>
</script>

<script type="text/html" id="equipment-view">
<a href="javascript:void(0);" class="button large rounded save" style="margin-left: 40%; margin-bottom: 20px; padding: 10px 20px;">Save <i class="icon-save"></i></a>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
<% for (var row = 0; row < equipmentMatrix.length; row++) { %>
    <div class="row">
        <% for (var col = 0; col < equipmentMatrix[row].length; col++) { %>
        <% var equipment = equipmentMatrix[row][col] %>
        <div class="members" id="equipment_<%= equipment.id %>">
            <div class="one-third column">
                <div class="member-container">
                    <img src="<%= equipment.image %> " title="<%= equipment.title %>">
                    <div class="member-title">
                        <h4><%= equipment.title %></h4>
                    </div>
<blockquote class="no-quote" style="padding: 20px 10px; height: 100px;">
<div class="custom" style="margin: 20px;">
            <input type="checkbox" name="toggle-switch" checked="">
        </div>
</blockquote>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
<% } %>
<a href="javascript:void(0);" class="button large rounded save" style="margin-left: 40%; margin-top: 0px; margin-bottom: 20px; padding: 10px 20px;">Save <i class="icon-save"></i></a>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
</script>

<script type="text/html" id="payment-view">
<div class="four columns" style="height: 10px;"></div>
<div class="eight columns">
<center>
<h1>Payment</h1>
</center>
<p style="margin-top: 20px; font-size: 1.1em;">
The Workout-Generator service is a <strong style="font-weight: bold;">$7.99/month</strong> service.
</p>

<p style="font-size: 1.1em;">
This is effectively comparable service to a personal trainer at <strong style="font-weight: bold;">less than $1 per hour</strong>.
</p>

<p style="font-size: 1.1em;">
The service comes with a free <strong style="font-weight: bold;">2 week trial</strong> with no strings attached.  You're <strong style="font-weight: bold;">free to cancel</strong> at any time.
</p>
<a href="javascript:void(0);" class="button large rounded subscribe" style="padding: 10px 20px; margin-left: 40%; margin-bottom: 20px;">Finish</a>
<p style="margin-top: 30px;">
Have a Coupon Code?
<input type="text" style="margin-left: 10px; display: inline-block;" class="coupon-input" />
<a href="javascript:void(0);" class="button large rounded gray apply-coupon" style="display: inline-block; padding: 10px 20px; margin-bottom: 20px;">Apply</a>
</p>

<p class="error-area" style="margin-left: 10%; color: #8f0000;"><%= optionalMessage %></p>
<p class="success-area" style="margin-left: 10%; color: #008f00; display: none;"></p>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
</div>

<div class="four columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="login-view">
<div class="four columns" style="height: 10px;"></div>

<div class="six columns">
<p>
Don't have an account?  <a href="#!signup">Sign Up</a>!
<br/>
Forgot your password?  <a href="#!passwordreset">Reset Your Password</a>
</p>
    <div>
        <p style="width: 30%; display: inline-block;">E-Mail Address:</p>
        <input  style="width: 60%; display: inline-block;" type="text" class="email-input" />
        <br/>
        <p style="width: 30%; display: inline-block;">Password:</p>
        <input style="width: 60%; display: inline-block;" type="password" class="password-input" />
        <p class="error-area" style="margin-left: 30%; color: #8f0000;"></p>
        <a href="javascript:void(0);" class="button large rounded log-in-continue" style="padding: 10px 20px; margin-left: 40%; margin-bottom: 20px;">Log In <i class="icon-signin"></i></a>
        <img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-left: 40%;">
    </div>
</div>

<div class="four columns" style="height: 10px;"></div>
<div class="divider"></div>
<div class="five columns" style="height: 10px;"></div>
<div class="four columns">
    <center><h3>-OR-</h3></center>
    <a href="javascript: void(0);">
        <img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </a>
</div>
<div class="five columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="workout-view">
<div style="width: 100%; overflow: hidden">
    <div class="four columns">
        <div id="datepicker-placeholder">
        </div>
        <div id="meta-placeholder">
        </div>
    <br/><br/>
    </div>

<div class="twelve columns">
    <div id="workout-placeholder">
<img class="loading-icon" src="{% static 'img/loading-icon-large.gif' %}" alt="Loading" style="margin-top: 50px; margin-left: 20%; width: 50%;">
    </div>
    <div id="cardio-placeholder" style="margin-top: 100px;">
    </div>
</div>


</script>

<script type="text/html" id="datepicker-view">
<div class="bootstrap">
    <div class="date-select-block">
        <div class="date-select datepicker-input datepicker-el">
        </div>
    </div>
</div>
</script>

<script type="text/html" id="meta-view">
<blockquote class="baller-shadow no-quote" style="width: 80%; padding: 10px 30px; margin-top: 10px;">
<h3 style="margin-top: 15px; line-height: 20px;"><%= currentGoal %></h3>
</blockquote>
<p>Weeks in Phase:
<br/>
<% for(var i=0; i<weekInPhase; i++) { %>
<img style="width: 15%; display: inline-block;" src="{% static 'img/green_arrow.png' %}">
<% } %>
<% for(var i=0; i<totalWeeksInPhase - weekInPhase; i++) { %>
<img style="width: 15%; display: inline-block;" src="{% static 'img/gray_arrow.png' %}">
<% } %>
</p>
<% for (var i = 0; i < phaseNames.length; i++) { %>
    <div class="phase-block
    <% if(phaseNames[i] === currentPhase) {%>
        selected
    <% } %>
    baller-shadow
    ">
        <center>
            <p>
                <%= phaseNames[i] %>
            </p>
        </center>
    </div>
<% } %>
<div class="clear"></div>
<div style="margin-top: 5px; display: block; width: 80%;">
    <p>
<br/>

    </p>
</div>
</script>

<script type="text/html" id="lifting-view">
<div>
</div>
</script>

<script type="text/html" id="workout-component-view">
<div style="margin-bottom: 10px; margin-left: 30px; background-color: #777;" class="top-rounded bottom-rounded baller-shadow">
<div class="workout-component-block top-rounded ">
<%= workout_component.title %>
<% if(rest){ %>
    <% if(rest > 60){ %>
        (<%= rest / 60 %> minutes rest)
    <% } else {%>
        (<%= rest %> seconds rest)
    <% } %>
<% } %>
</div>

<% for (var i = 0; i < exercises.length; i++) { %>
    <div class="exercise-row
<% if(i === exercises.length-1){ %>
bottom-rounded
bottom-bordered
<% } %>

">
    <% var exerciseSet = exercises[i]; %>
    <div class="sets-reps tight-shadow">
    <%= exerciseSet.sets %> x
<% if(!exerciseSet.exercise.timed) { %>
<%= exerciseSet.reps %>
<% } %>

    </div>
<div id="exercise_<%= exerciseSet.exercise.id %>" class="exercise-block tight-shadow">
    <span class="collapse-arrow">
        <i class="icon-circle-arrow-right"></i>
    </span>
    <%= exerciseSet.exercise.name %>
    </div>
    <% if(exerciseSet.superset){ %>
        superset with

<% if(!exerciseSet.superset.exercise.timed) { %>
<div class="sets-reps tight-shadow">
    <%= exerciseSet.superset.reps %>
</div>
<% } %>

<div class="exercise-block tight-shadow" id="exercise_<%= exerciseSet.superset.exercise.id %>">
    <span class="collapse-arrow">
        <i class="icon-circle-arrow-right"></i>
    </span>
<%= exerciseSet.superset.exercise.name %>
</div>
    <% } %>
    </div>

<video class="exercise-video" id="video_exercise_<%= exerciseSet.exercise.id %>" muted autoplay="" loop="" poster="true" width="480" height="360" style="display: none;">
    <source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_mp4/small_<%= exerciseSet.exercise.video_id  %>.mp4" type="video/mp4" class="mp4source">
    <source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_webm/small_<%= exerciseSet.exercise.video_id  %>.webmsd.webm" type="video/webm" class="webmsource">
</video>

<% if(exerciseSet.superset) {%>
<video class="exercise-video" id="video_exercise_<%= exerciseSet.superset.exercise.id %>" muted autoplay="" loop="" poster="true" width="480" height="360" style="display: none;">
    <source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_mp4/small_<%= exerciseSet.superset.exercise.video_id  %>.mp4" type="video/mp4" class="mp4source">
    <source src="https://s3-us-west-1.amazonaws.com/workout-generator-exercises/smaller_webm/small_<%= exerciseSet.superset.exercise.video_id  %>.webmsd.webm" type="video/webm" class="webmsource">
</video>
<% } %>

<% } %>
</div>
</script>

<script type="text/html" id="cardio-view">
<div style="padding-bottom: 10px; margin-left: 30px;">
<h2 style="margin-top: 10px;"><%= cardioLevel %></h2>
<div class="cardio-meta">
<% for (var zone = 1; zone <= 3; zone++) { %>
    <div class="cardio-meta-container">
        <% var zoneKey = "zone" + zone; %>
        <% if(zoneMeta[zoneKey]) { %>
            <div class="cardio-meta-block <%= zoneKey %> baller-shadow" style="min-height: 20px; width: 10%;">
            <p style="margin-bottom: 0;">Zone <%= zone %></p>
            </div>
<p class="cardio-meta-descriptor baller-shadow" style="margin-bottom: 0;">
    <% if(zoneMeta[zoneKey].minutes > 0) { %>
        <%= zoneMeta[zoneKey].minutes %> minute
    <% } %>
    <% if(zoneMeta[zoneKey].seconds > 0) { %>
        <%= zoneMeta[zoneKey].seconds %> second
    <% } %>

interval<br/>
            Heart Rate of <%= zoneMeta[zoneKey].minHeartRate %> to
            <%= zoneMeta[zoneKey].maxHeartRate %> bpm
            </p>
        <% } %>
    </div>
<% } %>
</div>
<div class="cardio-graph" style="overflow: hidden; margin-top: 20px; min-height: 20px;">
<% for(var i=0; i<cardioBlocks.length; i++) { %>
    <% var cardioBlock = cardioBlocks[i]; %>
    <% var maxHeight = 100.0; %>
    <% var blockHeight = (cardioBlock.heightPercent / 100.0) * maxHeight; %>
<div class="cardio-graph-block <%= cardioBlock.zoneClass %> baller-shadow" style="width: <%= cardioBlock.widthPercent %>%; height: <%= blockHeight %>px; margin-top: <%= maxHeight - blockHeight %>px;">
    </div>
<% } %>
</div>
<div style="width: 80%;">
<center>
<h3 style="margin-top: 10px;"><%= totalTime %> Minutes</h3>
</center>
</div>
</div>
</script>

<script type="text/html" id="dashboard-view">
<div class="eight columns" style="height: 300px; float: right;">
    <p>
        <center>
<a href="#!workout" class="button large rounded sign-up" style="padding: 20px 60px; margin-top: 140px;">Go To My Workouts<i class="icon-arrow-right"></i></a>
        </center>
    </p>
</div>
<div class="eight columns" style="height: 300px; float: right;">
    <div class="lined-header">
        <h3><span>Settings <i class="icon-cog-2"></i></span></h3>
    </div>
<a href="#!goal/return" class="button large rounded gray" style="padding: 20px 60px; width: 160px;">Change My Goal</a>
    <br/>
<a href="#!fitnesslevel/return" class="button large rounded gray" style="padding: 20px 60px; width: 160px;">Adjust Fitness Level</a>
    <br/>
<a href="#!schedule/return" class="button large rounded gray" style="padding: 20px 60px; width: 160px;">Edit my Schedule</a>
    <br/>
<a href="#!equipment/return" class="button large rounded gray" style="padding: 20px 60px; width: 160px;">Change Equipment</a>
<br/>
<a href="#!paymentsettings" class="button large rounded gray" style="padding: 20px 60px; width: 160px;">Payment Settings</a>
    <br/>
</div>
</script>

<script type="text/html" id="payment-settings-view">
<div class="four columns" style="height: 10px;"></div>
<div class="eight columns">

    <p style="font-size: 1.1em">
        If you cancel your subscription you'll still be able to renew.

    </p>
    <p style="font-size: 1.1em;">
Otherwise, we'll be bummed if you go.  Feel free to <a href="mailto:support@workoutgenerator.net">tell us why</a>.
    </p>
    <a href="#!paymentsettings" class="button large rounded gray cancel-payment" style="padding: 20px 60px; width: 160px;">Cancel Payment</a>
<br/>
<p class="success-area" style="display: none; margin-top: 30px; color: #008f00;">You will not be billed anymore.  You still have access to WorkoutGenerator for the remainder of your billing period.</p>
</div>
<div class="four columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="requires-confirmation-view">
<div class="four columns" style="height: 10px;"></div>

<div class="eight columns">
    <p style="font-size: 1.2em;">
        Your account hasn't been confirmed yet.  We sent you an email when you signed up with a confirmation link.
    </p>
<a href="javascript:void(0);" class="button large rounded re-send" style="padding: 20px 60px; margin-left: 10%; margin-top: 20px;">Re-Send Confirmation Email</a>
<p class="success-area" style="display: none; margin-top: 30px; color: #008f00;">An E-Mail was re-sent to  <span class="email-sent-to"></span></p>
<img class="loading-icon" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-top: 50px; margin-left: 20%;">
</div>

<div class="four columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="pricing-view">
<div class="four columns" style="height: 10px;"></div>
<div class="eight columns">
<center>
<h1>Pricing</h1>
</center>
<p style="margin-top: 20px; font-size: 1.1em;">
The Workout-Generator service is a <strong style="font-weight: bold;">$7.99/month</strong> service.
</p>

<p style="font-size: 1.1em;">
This is effectively comparable service to a personal trainer at <strong style="font-weight: bold;">less than $1 per hour</strong>.
</p>

<p style="font-size: 1.1em;">
The service comes with a free <strong style="font-weight: bold;">2 week trial</strong> with no strings attached.  You're <strong style="font-weight: bold;">free to cancel</strong> at any time.
</p>
<a href="#!signup" class="button large rounded subscribe" style="padding: 20px 60px; margin-left: 10%; margin-bottom: 20px;">Give WorkoutGenerator a Try</a>

</div>

<div class="four columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="facebook-liker-view">
<div class="four columns" style="height: 10px;"></div>
<div class="eight columns">
<h1 style="line-height: 25px;">Thanks for participating in our new product launch!</h1>
<center>
<p style="margin-top: 30px; font-size: 1.1em;">
        Want a free lifetime membership?
    </p>
</center>
<p style="margin-top: 30px;">
<h4 style="display: inline-block;">Step 1</h4>:
<img src="{% static 'img/green_check.png' %}" style="display: none; width: 40px; ">
    <a href="javascript: void(0);">
        <img class="facebook-button" style="width: 50%;" src="{% static 'img/facebook_signup.png' %}" alt="sign up with facebook">
    </a>
<img class="loading-icon step-1" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-top: 5px; margin-left: 10%;">

<h4 style="display: inline-block; margin-top: 30px;">Step 2</h4>:
<img src="{% static 'img/green_check.png' %}" style="display: none; width: 40px;">
    <a href="https://www.facebook.com/Workoutgenerator" target="_blank">
        <img class="facebook-button desaturate" style="width: 50%;" src="{% static 'img/like_us.jpg' %}" alt="like us on facebook">
    </a>
<img class="loading-icon step-2" src="{% static 'img/loading-icon.gif' %}" alt="Loading" style="display: none; margin-top: 5px; margin-left: 10%;">
</p>

<h4 style="display: inline-block; margin-top: 30px;">Step 3</h4>:
<div class="clear"></div>
<a href="#!workout" class="button large rounded gray" style="padding: 20px 60px; margin: 0 0 10px;">Resume signup</a>
<p>(You won't need to enter payment information at checkout)</p>
</div>
<div class="four columns" style="height: 10px;"></div>
</script>

<script type="text/html" id="reset-password-view">
<div class="four columns" style="height: 10px;"></div>

<div class="eight columns">
<center>
    <h3>Reset Your Password</h3>
</center>
<br/><br/>
        <p style="width: 30%; display: inline-block;">E-Mail Address:</p>
        <input  style="width: 40%; display: inline-block;" type="text" class="email-input" />

<a href="javascript:void(0);" class="button large rounded reset" style="padding: 20px 40px; width: 40%; display: block; margin: 20px auto;">Request Password Reset</a>
<p class="success-area" style="display: none; margin-left: 20%; margin-top: 30px; color: #008f00;">An E-Mail was sent to  <span class="email-sent-to"></span> with instructions to reset your password.</p>
</div>

<div class="four columns" style="height: 10px;"></div>
</script>
