
{% load staticfiles %}

{% include "underscore_templates/copy.html" %}

<script type="text/html" id="button_area_facebook">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
        <center><p style="font-size: 14px;">Get Started...</p></center>
<img class="facebook-button" style="width: 100%;" src="{% static 'img/facebook_login.png' %}" alt="login with facebook">
    </div>
    <div class="three columns buttom"></div>
</script>

<script type="text/html" id="button_area_upload">
    <div class="two columns bottom"></div>
    <div class="five columns buttom">
<a id="upload-video-button" style="margin-top: 20px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
        Upload a Video <i style="margin-left: 10px;" class="icon-film"></i></a>
    </div>
    <div class="three columns buttom"></div>


</script>

<script type="text/html" id="upload_modal_view">
<div class="bootstrap">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background: #323232;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload a Video</h4>
                </div>
                <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
                    <div class="row-fluid">
                        <div class="col-sm-6">
                            <p>Ensure that:</p>
                            <ul style="font-size: 14px;">
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is head on (barbell's angle in the image is 0)</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is stable</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Video is one continuous shot</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Don't use so much weight that the bar bends</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Use a weight where good form is maintained</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Standard Olympic Barbell</li>
        <li><i style="color: #0A0;" class="icon-checkmark"></i> Entire barbell should fit in the screen</li>
                                <li><i style="color: #0A0;" class="icon-checkmark"></i> Barbell should be at least half the width of the screen</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <form action="." method="POST" enctype="multipart/form-data">
                                <input type="file" id="upfile" name="upfile" type="file" value="upload" style="visibility: hidden;" accept="video/*"/>
                                <p>
                                    <%= videoName %>
                                </p>
                                <a id="choose-file" style="font-size: 18px;" href="javascript:void(0);" class="button large alt <% if (videoUploaded) { %>cancel<% } %>">
                                    Choose File
                                </a>
                                <p id="uploading-text">
                                    Uploading...
                                </p>
                                <p id="error-area">
                                    <%= errorMessage %>
                                </p>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
                        Cancel
                    </a>
                    <a id="upload-video-button-final" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
                        Upload
                    </a>
                    <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/html" id="thankyou_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-12">
Thanks for your order!  It will take a while to process your video, so in the mean time, go lift weights and crush things. You'll get an email when you video is ready.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="close-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Close
        </a>
    </div>
</script>

<script type="text/html" id="order_summary_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Order Summary</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <span style="padding-left: 10px;">
                        Start
                    </span>
                    <input id="start-time" value="0:00" style="min-width: 80%; width: 80%; background-color: #3A3A3A;" type=text />
                </div>
                <div class="col-sm-6">
<span style="padding-left: 10px;">
                        Stop
                    </span>
                    <input id="stop-time" value="<%= videoMinutes %>:<%= videoSeconds %>" style="min-width: 80%; width: 80%; background-color: #3A3A3A;" type=text />
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    Total cost: <span id="dollar-cost" style="color: #080;"> $<%= dollarCost %></span>
                    <br/><br/>
                    <span>
                        Email Address to send final video:
<input type="text" id="email-input" name="email" style="background-color: #3A3A3A;" value="<%= emailValue %>"/>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <p>
                    <% if (thumbnailUrl) { %>
                        <img style="margin-top: 50px;" id='final-thumbnail' src="<%= thumbnailUrl %>" />
                    <% } %>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="cancel-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Cancel
        </a>
        <a id="finish-order" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
            Submit
        </a>
        <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
    </div>
</script>

<script type="text/html" id="contact_view">
    <div id="message-container" style="margin-top: 15px;">
        Return Email:<input id='return-email' type="text" style="width: 80%;">
<p id="email-error">Enter a valid Email address</p>
        Message: <textarea rows="5" cols="50" id="editable-message"></textarea>
    </div>
<a id="cancel-quandry" style="margin-top: 5px; font-size: 18px;" class="button large alt cancel" href="#">
    Close Form
</a>
<a id="submit-quandry" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
    Submit Quandary
</a>
<img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="spinner" src="{% static 'img/spinner.gif' %}" />
</script>

<script type="text/html" id="account_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Account Settings</h4>
    </div>
    <div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-6">

<% if (purchaseFlow && videoCost > credits) { %>
Processing this video requires at least <span style="color: #B22;">$<%= videoCost %></span> credits in your account.<br/><br/>
                <% } %>

                Credits: <span style="color: #080;">$<%= credits %></span><br/><br/>
Email Address: <input id='settings-email' type='text' value='<%= email %>' style="width: 70%; margin-top: 10px; background-color: #3A3A3A;" />
                <p style="margin: 2% 0%;">
                    <%= error %>
                </p>
                <a id="update-email" style="margin: 2% 0%; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
                    Update Email
                </a>
            </div>
            <div class="col-sm-6">
                <% if (creditsAdded) { %>
<p style="font-size: 1.2em; margin: 20%;">
    Credits Added <i style="color: #0A0;" class="icon-checkmark"></i>
</p>
                <% } else { %>
                <a id="add-funds" style="margin: 20%; font-size: 18px;" href="javascript:void(0);" class="button large alt">
                    Add Credits
                </a>
                <% } %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="close-button" style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt cancel">
            Close
        </a>

        <% if (purchaseFlow && creditsAdded) { %>
            <a style="margin-top: 5px; font-size: 18px;" href="#!summary" class="button large alt">
                Continue
            </a>
        <% } %>

        <img style="width: 30px; display: inline-block; position: relative; margin: 13px;" id="accounts-spinner" src="{% static 'img/spinner.gif' %}" />
    </div>
</script>

<script type="text/html" id="youtube_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel"><br/></h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="col-sm-12">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/<%= videoId %>?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</script>

<script type="text/html" id="orientation_view">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span style="color: #FFF;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Video Orientation</h4>
    </div>
<div class="modal-body" style="max-height: 280px; overflow-y: scroll;">
        <div class="row-fluid">
            <div class="col-sm-12">
                <center>
                    Rotate the video upright so we can begin processing.
                </center>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-4">
                <br/>
<center>
                <a href="javascript:void(0);" id="rotateLeft"><i style="margin-top: 60px; font-size: 1.5em;" class="icon-undo-2"></i></a>
</center>
            </div>

            <div class="col-sm-4" style="min-height: 200px;">
                <% if (thumbnailUrl) { %>
<img id='image-to-rotate' class="no-rotate" style="margin: auto; margin-top: 50px;" src="<%= thumbnailUrl %>" />
                <% } %>
            </div>
            <div class="col-sm-4">
                <br/>
<center>
                <a href="javascript:void(0);" id="rotateRight"><i style="margin-top: 60px; font-size: 1.5em;" class="icon-redo-2"></i></a>
</center>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id='orientation-continue' style="margin-top: 5px; font-size: 18px;" href="javascript:void(0);" class="button large alt">
            Continue
        </a>
    </div>
</script>
