{% extends "backstage/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                {% autoescape off %}
                {% for line in lines %}
                    <div class="row" style="min-height: 10px;">
                        <div class="col-md-12">
                            {{ line }}
                        </div>
                    </div>
                {% endfor %}
                {% endautoescape %}
            </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
